dist/about_project.html
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Главная страница</title>
		<link href="assets/styles/all.css" rel="stylesheet" type="text/css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	</head>
	<body>
		<div class="wrapper">
			<div class="header">
				<div class="header__container">
					<figure class="logo"><a href="#"><img src="./assets/images/Logo_nipi.svg" class="logo__item"/></a></figure>
					<div class="nav">
						<div class="nav__item nav__item_active"><a href="#" class="nav__item-link nav__item-link_with-dropdown">Инжиниринг<span class="nav__item-arrow"></span></a>
							<div class="dropdown nav__item-dropdown"><a href="#" class="dropdown__row dropdown__row_orange">Инжиниринг</a><a href="#" class="dropdown__row dropdown__row_blue">Строительство</a><a href="#" class="dropdown__row dropdown__row_light-blue">Поставки</a></div>
						</div>
						<div class="nav__item"><a href="#" class="nav__item-link">Поиск объектов</a></div>
						<div class="nav__item"><a href="#" class="nav__item-link">Конструктор правил</a>
							<div class="dropdown nav__item-dropdown"><a href="#" class="dropdown__row">Конструктор правил</a><a href="#" class="dropdown__row">Технико-коммерческое предложение</a><a href="#" class="dropdown__row">Проекты</a><a href="#" class="dropdown__row">Применить правило</a>
								<div class="dropdown__row">Поиск дубликатор</div>
								<div class="dropdown__row">Просмотр дубликатов</div>
							</div>
						</div>
					</div>
					<div class="header__exit"><span class="header__exit-item">Выход</span><i class="header__exit-item-icon icon icon-exit"></i></div>
					<div class="header__user"><i class="header__user-icon icon icon-person"></i>
						<div class="header__user-name">Константин Иванович Константинопольский IV</div>
					</div>
					<div data-popup="question" class="header__help js-open-popup"><i class="header__help-item-icon icon icon-question"></i></div>
				</div>
			</div>
			<section class="main">
				<div class="main__left-column ui-widget-content js-resizable">
					<div class="main__title main__title_common main__left-column-title">Информация о проекте</div>
					<div class="main__body main__left-column-body">
						<div class="widjet widjet_with-scroll widjet_no-background">
							<div class="widjet__element widjet__element_notitle text">
								<div class="widjet__element-row">
									<div class="review">
										<div class="review__item review__item_up"><i class="icon icon-review review__icon"></i>
											<div class="review__count">225</div>
										</div>
										<div class="review__item review__item_down"><i class="icon icon-review review__icon"></i>
											<div class="review__count">12</div>
										</div>
										<div class="review__view"><i class="icon icon-eye review__view-eye"></i></div>
									</div>
								</div>
								<div class="widjet__element-row">
									<h3 class="widjet__element-label">Наименование</h3>
									<div class="widjet__element-value">Зап.-сиб. комплекс глубокой переработки УВС в полиолефины</div>
								</div>
								<div class="widjet__element-row">
									<div class="widjet__element-label">Заказчик</div><a href="#" class="widjet__element-value">ООО «ЗапСибНефтехим»</a>
								</div>
								<div class="widjet__element-row">
									<div class="widjet__element-label">ГИП</div><a href="#" class="widjet__element-value">ИВАНОВ И.И.</a>
								</div>
								<div class="widjet__element-devider"></div>
								<div class="widjet__element-row text">
									<div class="text__table">
										<div class="text__table-column">
											<div class="text__table"><span>Договор</span>0092.2016</div>
											<div class="text__table"><span>Дата начала</span>01.06.2016</div>
										</div>
										<div class="text__table-column">
											<div class="text__table"><span>&nbsp;</span><span class="text__table-border text__table-border_blue">Завершен</span></div>
											<div class="text__table"><span>Дата завершения</span>21.07.2018</div>
										</div>
									</div>
								</div>
							</div>
							<div class="widjet__element widjet__element_notitle text">
								<div class="widjet__element-row">
									<h3>Параметры промышленного комплекса</h3>
								</div>
								<div class="widjet__element-row">
									<div class="widjet__element-label">Наименование</div><span class="widjet__element-value">Западно-сибирский комплекс глубокой переработки углеводородного сырья в полиолефины</span>
								</div>
								<div class="widjet__element-row">
									<div class="widjet__element-label">Производительность</div><span class="widjet__element-value">2 млн. тонн в год</span>
								</div>
								<div class="widjet__element-row">
									<div class="widjet__element-label">Сейсмичность района (MSK-64)</div><span class="widjet__element-value">6 баллов</span>
								</div>
								<div class="widjet__element-row">
									<div class="widjet__element-label">Тип</div><span class="widjet__element-value">ГХК</span>
								</div>
								<div class="widjet__element-row">
									<div class="widjet__element-label">Расположение</div><span class="widjet__element-value">Западная Сибирь</span>
								</div>
								<div class="widjet__element-row">
									<div class="widjet__element-label">Климатическая зона</div><span class="widjet__element-value">Субарктическая</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="main__right-column">
					<div class="main__title main__title_common main__right-column-title">
						<div class="main__title-help">
							<div class="main__title-watch-the-project">
								<div class="main__title-watch-the-project-icon icon icon-edit"></div>Редактировать
							</div>
							<div class="main__title-help-close icon icon-close"></div>
						</div>
					</div>
					<div class="main__body main__right-column-body main__body_nopadding">
						<div class="main__right-column-body-container">
							<div class="search-results search-results_padding-top">
								<div class="search-results__text search-results__text_no-margin-bottom text">
									<h3>Отчеты об опыте проектирования</h3>
									<div class="files-form">
										<div class="files-form__item">
											<form class="files-form__elem js-input-file-form">
												<div class="files-form__upload-info js-input-file-upload-info">
													<div class="files-form__name"><span class="js-input-file-name">Проект 0092.2016 Иванов И.И. — Узел отбора и учета газа</span></div>
												</div>
												<div class="files-form__format">pdf</div><a href="#" class="files-form__submit files-form__submit_right"><i class="files-form__submit-icon icon icon-file"></i>Перейти к файлу</a>
											</form>
										</div>
										<div class="files-form__item">
											<form class="files-form__elem js-input-file-form">
												<div class="files-form__upload-info js-input-file-upload-info">
													<div class="files-form__name"><span class="js-input-file-name">Для аудита ОЗХ ЗапСиб-2</span></div>
												</div>
												<div class="files-form__format">pdf</div><a href="#" class="files-form__submit files-form__submit_right"><i class="files-form__submit-icon icon icon-file"></i>Перейти к файлу</a>
											</form>
										</div>
									</div>
								</div>
								<div class="search-results__text text">
									<h3>Титульный список</h3>
									<div class="search-results__table-wrapper">
										<div class="search-results__table-menu">
											<div class="search-results__export"><i class="icon icon-excel search-results__export-icon"></i>Экспорт в Excel</div>
										</div>
										<table class="table table_search-results">
											<tr>
												<th class="table__first">Шифр</th>
												<th class="h-ta-left">Наименование</th>
												<th>Трудозатраты план, чел/ч</th>
												<th class="table__last">Трудозатраты факт, чел/ч</th>
											</tr>
											<tr>
												<td class="table__first">0315</td>
												<td class="h-ta-left"><a href="#">Аппартная</a></td>
												<td>690</td>
												<td class="table__last">690</td>
											</tr>
											<tr>
												<td class="table__first">0319</td>
												<td class="h-ta-left"><a href="#">Насосная</a></td>
												<td>459</td>
												<td class="table__last">680</td>
											</tr>
											<tr class="table_search-results-total">
												<td class="table__first">Всего</td>
												<td></td>
												<td>1 148</td>
												<td class="table__last">1 1391</td>
											</tr>
										</table>
										<div class="table__more-results">Еще 115 строк</div>
										<div class="pagination pagination_top">
											<div class="pagination__arrow pagination__arrow_before icon icon-arrow"></div>
											<div class="pagination__item pagination__item_active">1</div>
											<div class="pagination__item">2</div>
											<div class="pagination__item">3</div>
											<div class="pagination__item">4</div>
											<div class="pagination__item">...</div>
											<div class="pagination__item">15</div>
											<div class="pagination__arrow pagination__arrow_after icon icon-arrow"></div>
										</div>
									</div>
									<h3>Трудозатраты</h3>
									<div class="search-results__total">15 900 чел/час, в том числе:</div>
									<div class="search-results__table-wrapper">
										<div class="search-results__table-menu">
											<div class="search-results__search"><i class="icon icon-search_doc search-results__export-icon"></i>Искать в документах</div>
											<div class="search-results__export"><i class="icon icon-excel search-results__export-icon"></i>Экспорт в Excel</div>
										</div>
										<table class="table table_search-results">
											<tr>
												<th rowspan="2" class="table__first">марка</th>
												<th colspan="2" class="h-dark-grey h-ta-center">план</th>
												<th colspan="2" style="border-left: 1px solid #e6e7e7;" class="h-dark-grey h-ta-center">факт</th>
												<th rowspan="2" class="table__last">число док-тов</th>
											</tr>
											<tr>
												<th class="h-medium-grey table__first h-ta-right">срок вып.,<br/>дней</th>
												<th class="h-medium-grey">трудозатраты,<br/>чел/ч</th>
												<th style="border-left: 1px solid #e6e7e7;" class="h-medium-grey">срок вып.,<br/>дней</th>
												<th class="h-medium-grey table__last">трудозатраты,<br/>чел/ч</th>
											</tr>
											<tr>
												<td class="table__first"><a href="#">ар (архитектурные решения)</a></td>
												<td>48</td>
												<td>900</td>
												<td></td>
												<td></td>
												<td class="table__last">12</td>
											</tr>
											<tr>
												<td class="table__first"><a href="#">тм (монтажно- технологические решения)</a></td>
												<td>54</td>
												<td>690</td>
												<td></td>
												<td></td>
												<td class="table__last">14</td>
											</tr>
											<tr class="table_search-results-total">
												<td class="table__first">Всего</td>
												<td> </td>
												<td>1 590</td>
												<td>44</td>
												<td>820</td>
												<td class="table__last">26</td>
											</tr>
										</table>
										<div class="table__more-results">Еще 115 строк</div>
										<div class="pagination pagination_top">
											<div class="pagination__arrow pagination__arrow_before icon icon-arrow"></div>
											<div class="pagination__item pagination__item_active">1</div>
											<div class="pagination__item">2</div>
											<div class="pagination__item">3</div>
											<div class="pagination__item">4</div>
											<div class="pagination__item">...</div>
											<div class="pagination__item">15</div>
											<div class="pagination__arrow pagination__arrow_after icon icon-arrow"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<script src="./js/vendor/jquery/jquery.js"></script>
		<script src="./js/vendor/jqueryui/jquery-ui.js"></script>
		<script src="./js/vendor/autocomplete/jquery.autocompleter.js"></script>
		<script src="./assets/scripts/all.js"></script>
	</body>
</html>

src/templates/pages/about_project.jade

doctype strict
html
	head
		include ../blocks/head

	body
		.wrapper
			include ../blocks/header

			section.main
				.main__left-column.ui-widget-content.js-resizable
					.main__title.main__title_common.main__left-column-title Информация о проекте


					.main__body.main__left-column-body
						.widjet.widjet_with-scroll.widjet_no-background
							
							.widjet__element.widjet__element_notitle.text
								.widjet__element-row
									.review
										.review__item.review__item_up
											i.icon.icon-review.review__icon
											.review__count 225
										.review__item.review__item_down
											i.icon.icon-review.review__icon
											.review__count 12
										.review__view
											i.icon.icon-eye.review__view-eye
											
								.widjet__element-row
									h3.widjet__element-label Наименование
									.widjet__element-value Зап.-сиб. комплекс глубокой переработки УВС в полиолефины

								.widjet__element-row
									.widjet__element-label Заказчик
									a.widjet__element-value(href="#") ООО «ЗапСибНефтехим»

								.widjet__element-row
									.widjet__element-label ГИП
									a.widjet__element-value(href="#") ИВАНОВ И.И.

								.widjet__element-devider

								.widjet__element-row.text
										.text__table
											.text__table-column
												.text__table
													span Договор
													| 0092.2016
												.text__table
													span Дата начала
													| 01.06.2016
											.text__table-column
												.text__table
													span &nbsp;
													span.text__table-border.text__table-border_blue Завершен
												.text__table
													span Дата завершения
													| 21.07.2018

							.widjet__element.widjet__element_notitle.text
								.widjet__element-row
									h3 Параметры промышленного комплекса

								.widjet__element-row
									.widjet__element-label Наименование
									span.widjet__element-value Западно-сибирский комплекс глубокой переработки углеводородного сырья в полиолефины

								.widjet__element-row
									.widjet__element-label Производительность
									span.widjet__element-value 2 млн. тонн в год

								.widjet__element-row
									.widjet__element-label Сейсмичность района (MSK-64)
									span.widjet__element-value 6 баллов

								.widjet__element-row
									.widjet__element-label Тип
									span.widjet__element-value ГХК

								.widjet__element-row
									.widjet__element-label Расположение
									span.widjet__element-value Западная Сибирь

								.widjet__element-row
									.widjet__element-label Климатическая зона
									span.widjet__element-value Субарктическая
				
				.main__right-column
					.main__title.main__title_common.main__right-column-title
						.main__title-help
							.main__title-watch-the-project
								.main__title-watch-the-project-icon.icon.icon-edit
								| Редактировать
							.main__title-help-close.icon.icon-close
					.main__body.main__right-column-body.main__body_nopadding
						.main__right-column-body-container
							.search-results.search-results_padding-top
								.search-results__text.search-results__text_no-margin-bottom.text
									h3 Отчеты об опыте проектирования

									.files-form
										.files-form__item
											form.files-form__elem.js-input-file-form
												.files-form__upload-info.js-input-file-upload-info
													.files-form__name
														span.js-input-file-name Проект 0092.2016 Иванов И.И. — Узел отбора и учета газа


												.files-form__format pdf
												a.files-form__submit.files-form__submit_right(href="#")
													i.files-form__submit-icon.icon.icon-file
													| Перейти к файлу

										.files-form__item
											form.files-form__elem.js-input-file-form
												.files-form__upload-info.js-input-file-upload-info
													.files-form__name
														span.js-input-file-name Для аудита ОЗХ ЗапСиб-2


												.files-form__format pdf
												a.files-form__submit.files-form__submit_right(href="#")
													i.files-form__submit-icon.icon.icon-file
													| Перейти к файлу

								.search-results__text.text
									h3 Титульный список
									.search-results__table-wrapper
										.search-results__table-menu
											.search-results__export
												i.icon.icon-excel.search-results__export-icon
												| Экспорт в Excel
										table.table.table_search-results
											tr
												th.table__first Шифр
												th.h-ta-left Наименование
												th Трудозатраты план, чел/ч
												th.table__last Трудозатраты факт, чел/ч
											tr
												td.table__first 0315
												td.h-ta-left
													a(href="#") Аппартная
												td 690
												td.table__last 690
											tr
												td.table__first 0319
												td.h-ta-left
													a(href="#") Насосная
												td 459
												td.table__last 680
											tr.table_search-results-total
												td.table__first Всего
												td
												td 1 148
												td.table__last 1 1391
										.table__more-results Еще 115 строк
										.pagination.pagination_top
											.pagination__arrow.pagination__arrow_before.icon.icon-arrow
											.pagination__item.pagination__item_active 1
											.pagination__item 2
											.pagination__item 3
											.pagination__item 4
											.pagination__item ...
											.pagination__item 15
											.pagination__arrow.pagination__arrow_after.icon.icon-arrow

									h3 Трудозатраты
									.search-results__total 15 900 чел/час, в том числе:
									.search-results__table-wrapper
										.search-results__table-menu
											.search-results__search
												i.icon.icon-search_doc.search-results__export-icon
												| Искать в документах
											.search-results__export
												i.icon.icon-excel.search-results__export-icon
												| Экспорт в Excel

										table.table.table_search-results
											tr
												th.table__first(rowspan="2") марка
												th.h-dark-grey.h-ta-center(colspan="2") план
												th.h-dark-grey.h-ta-center(colspan="2", style="border-left: 1px solid #e6e7e7;") факт
												th.table__last(rowspan="2") число док-тов
											tr
												th.h-medium-grey.table__first.h-ta-right срок вып.,
													br
													| дней
												th.h-medium-grey трудозатраты,
													br
													| чел/ч
												th.h-medium-grey(style="border-left: 1px solid #e6e7e7;") срок вып.,
													br
													| дней
												th.h-medium-grey.table__last трудозатраты,
													br
													| чел/ч
											tr
												td.table__first
													a(href="#") ар (архитектурные решения)
												td 48
												td 900
												td
												td
												td.table__last 12
											tr
												td.table__first
													a(href="#") тм (монтажно- технологические решения)
												td 54
												td 690
												td
												td
												td.table__last 14
											tr.table_search-results-total
												td.table__first Всего
												td 
												td 1 590
												td 44
												td 820
												td.table__last 26
										.table__more-results Еще 115 строк
										.pagination.pagination_top
											.pagination__arrow.pagination__arrow_before.icon.icon-arrow
											.pagination__item.pagination__item_active 1
											.pagination__item 2
											.pagination__item 3
											.pagination__item 4
											.pagination__item ...
											.pagination__item 15
											.pagination__arrow.pagination__arrow_after.icon.icon-arrow


		include ../blocks/scripts
