src/templates/pages/index.jade

doctype strict
html
  head
    include ../blocks/head

  body
    .wrapper
      include ../blocks/header

      section.main
        .main__left-column.ui-widget-content.js-resizable
          .main__title.main__left-column-title Список проектов
            .main__title-sort-result.js-main-sort-result
              .main__title-sort-result-title.js-main-sort-result-title
              .main__title-sort-result-cancel.js-main-sort-result-cancel

          .main__body.main__left-column-body
            .widjet
              .widjet__header
                .widjet__select-all
                  .checkbox
                    input.checkbox__input.js-select-all(type="checkbox", id="select_all", data-selectId="leftColumn")
                    label.checkbox__label(for="select_all") выбрать все

                .widjet__actions
                  .widjet__actions__item.icon.icon-star(data-notice="Избранное")
                  .widjet__actions__item.icon.icon-trash(data-notice="Удалить")
                  .widjet__actions__devider
                  .widjet__actions__item.icon.icon-plus(data-notice="Плюс")
                  .widjet__actions__item.icon.icon-filter.js-open-popup(data-notice="Фильтровать", data-popup="filter")
                  .widjet__actions__item.icon.icon-sort.js-open-popup(data-notice="Сортировка", data-popup="sort")

              .widjet__body
                .widjet__row.widjet__row_active
                  .widjet__checkbox
                    .checkbox
                      input.checkbox__input(type="checkbox", id="row1", data-selectTarget="leftColumn")
                      label.checkbox__label(for="row1") 
                  | Зап.-сиб. комплекс глубокой переработки УВС в полиолfasdf
                  .widjet__row-help
                    .widjet__row-help-item.widjet__row-help-item_star.icon.icon-star
                    .widjet__row-help-item.widjet__row-help-item_trash.icon.icon-trash
                .widjet__row.widjet__row_isfavorite
                  .widjet__checkbox
                    .checkbox
                      input.checkbox__input(type="checkbox", id="row2", data-selectTarget="leftColumn")
                      label.checkbox__label(for="row2") 
                  | Зап.-сиб. комплекс глубокой переработки УВС в полиолfasdf
                  .widjet__row-help
                    .widjet__row-help-item.widjet__row-help-item_star.widjet__row-help-item_active.icon.icon-star
                    .widjet__row-help-item.widjet__row-help-item_trash.icon.icon-trash
                .widjet__row
                  .widjet__checkbox
                    .checkbox
                      input.checkbox__input(type="checkbox", id="row3", data-selectTarget="leftColumn")
                      label.checkbox__label(for="row3") 
                  | Зап.-сиб. комплекс глубокой переработки УВС в полиолfasdf
                  .widjet__row-help
                    .widjet__row-help-item.widjet__row-help-item_star.icon.icon-star
                    .widjet__row-help-item.widjet__row-help-item_trash.icon.icon-trash
                .widjet__row
                  .widjet__checkbox
                    .checkbox
                      input.checkbox__input(type="checkbox", id="row4", data-selectTarget="leftColumn")
                      label.checkbox__label(for="row4") 
                  | Зап.-сиб. комплекс глубокой переработки УВС в полиолfasdf
                  .widjet__row-help
                    .widjet__row-help-item.widjet__row-help-item_star.icon.icon-star
                    .widjet__row-help-item.widjet__row-help-item_trash.icon.icon-trash
                .widjet__row
                  .widjet__checkbox
                    .checkbox
                      input.checkbox__input(type="checkbox", id="row5", data-selectTarget="leftColumn")
                      label.checkbox__label(for="row5") 
                  | Зап.-сиб. комплекс глубокой переработки УВС в полиолfasdf
                  .widjet__row-help
                    .widjet__row-help-item.widjet__row-help-item_star.icon.icon-star
                    .widjet__row-help-item.widjet__row-help-item_trash.icon.icon-trash



        
        .main__right-column
          .main__title.main__right-column-title(data-title="Свойства проекта") Свойства проекта
            .main__title-help
              .main__title-watch-the-project
                .main__title-watch-the-project-icon.icon.icon-eye
                | Посмотреть проект
              .main__title-help-apply.icon.icon-apply
              .main__title-help-close.icon.icon-close
          .main__body.main__right-column-body
            .main__right-column-body-container
              form.main__form
                .main__body-row
                  .input
                    .input__label Наименование
                      span.input__required *
                    .input__body
                      .input__wrapper
                        input.input__elem(type="text", value="Зап.-сиб комплекс глубокой переработки УВС в полиолефины")
                      .input__clear-icon.icon.icon-clear
                .main__body-row
                  .main__body-column
                    .main__body-row.js-input-add-row
                      .input
                        .input__label Заказчик
                          span.input__required *
                        .input__body
                          .input__wrapper
                            input.input__elem.js-input-autocomplete(type="text", value="ООО «ЗапСибНефтехим» ")
                            .input__clear.js-input-clear
                          .input__clear-icon.icon.icon-clear
                          .input__add-icon.icon.icon-add.js-input-add-field
                    .main__body-row.js-input-add-row
                      .input
                        .input__label ГИП
                        .input__body
                          .input__wrapper
                            input.input__elem(type="text", value="Иванов И.И.")
                          .input__clear-icon.icon.icon-clear
                          .input__add-icon.icon.icon-add.js-input-add-field
                    .main__body-row.js-input-add-row
                      .input
                        .input__label Договор
                        .input__body
                          .input__wrapper
                            input.input__elem(type="text", value="092.2016")
                          .input__clear-icon.icon.icon-clear
                          .input__add-icon.icon.icon-add.js-input-add-field
                  .main__body-column
                    .main__body-row.js-input-add-row
                      .input
                        .input__label Дата начала
                        .input__body
                          .input__wrapper
                            input.input__elem.js-datepicker(type="text", value="01.06.2016")
                            .input__calendar-icon.icon.icon-calendar.js-datepicker-icon
                          .input__clear-icon.icon.icon-clear
                          .input__add-icon.icon.icon-add.js-input-add-field
                    .main__body-row.js-input-add-row
                      .input
                        .input__label Дата завершения
                        .input__body
                          .input__wrapper
                            input.input__elem.js-datepicker(type="text", value="01.06.2016")
                            .input__calendar-icon.icon.icon-calendar.js-datepicker-icon
                          .input__clear-icon.icon.icon-clear
                    .main__body-row.js-input-add-row
                      .input
                        .input__label Адрес сайта в Sgare Point
                        .input__body
                          .input__wrapper
                            input.input__elem(type="text", value="")
                          .input__clear-icon.icon.icon-clear
                          .input__add-icon.icon.icon-add.js-input-add-field

                .main__body-row
                  .input.input_half
                    span.main__form-button.button.button_white Удалить
                  .input.input_half
                    span.main__form-button.button.button_white Отменить
                    button(type="submit").main__form-button.button Сохранить
              
              .files-form
                .files-form__item
                  .files-form__title Импорт Карточки проекта
                  form.files-form__elem.js-input-file-form
                    .files-form__choose-block.js-input-file-choose
                      .files-form__choose.js-input-file-choose-file Выбрать файл
                        input.files-form__input.js-input-file(type="file", name="upload", id="upload",)

                    .files-form__upload-info.js-input-file-upload-info(style="display:none;")
                      .files-form__name
                        span.js-input-file-name
                        .files-form__delete-upload-file.js-input-file-delete
                      .files-form__subtitle


                    button.files-form__submit.files-form__submit_disabled
                      i.files-form__submit-icon.icon.icon-file
                      | Импортировать 
                
                .files-form__item
                  .files-form__title Импорт Титульного списка
                  form.files-form__elem.js-input-file-form
                    .files-form__choose-block.js-input-file-choose(style="display:none;")
                      .files-form__choose.js-input-file-choose-file Выбрать файл
                        input.files-form__input.js-input-file(type="file", name="upload", id="upload", accept=".xls,.xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel")

                    .files-form__upload-info.js-input-file-upload-info
                      .files-form__name
                        span.js-input-file-name titul_02sdaf.png
                        .files-form__delete-upload-file.js-input-file-delete
                      .files-form__subtitle Загружено титулов: 15


                    button.files-form__submit
                      i.files-form__submit-icon.icon.icon-file
                      | Импортировать

                .files-form__item
                  .files-form__title Импорт Бюджетного контроля
                  form.files-form__elem.js-input-file-form
                    .files-form__choose-block.js-input-file-choose
                      .files-form__choose.js-input-file-choose-file Выбрать файл
                        input.files-form__input.js-input-file(type="file", name="upload", id="upload", accept=".xls,.xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel")

                      .files-form.checkbox
                        input.checkbox__input(type="checkbox", id="file_form")
                        label.checkbox__label.checkbox__label_small(for="file_form") Автоматически создавать новые проекты

                    .files-form__upload-info.js-input-file-upload-info(style="display:none;")
                      .files-form__name
                        span.js-input-file-name
                        .files-form__delete-upload-file.js-input-file-delete
                      .files-form__subtitle


                    button.files-form__submit.files-form__submit_disabled
                      i.files-form__submit-icon.icon.icon-file
                      | Импортировать 

                .files-form__result
                  .files-form__title Результаты импорта&nbsp;
                    span Создано объектов: 56, обновлено объектов: 1, ошибок: 1
              
              table.table
                tr
                  th.table__first Класс
                  th Создано объектов
                  th Объектов обновлено
                  th.table__last Ошибок
                tr
                  td.table__first Проект
                  td 1
                  td
                  td.table__last 1
                tr
                  td.table__first Промышленный комплекс
                  td 1
                  td
                  td.table__last
                tr
                  td.table__first Контрагент
                  td 1
                  td 1
                  td.table__last
                tr
                  td.table__first Плановые трудозатраты в разрезе этапов
                  td
                  td
                  td.table__last

              .message
                .message__icon.icon.icon-alert
                .message__title Ошибки:
                .message__description Не найден объект класса «Климатическая зона», соответствующий знаечению «Приполярная»

    include ../blocks/popups
    include ../blocks/scripts

dist/index.html
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Главная страница</title>
		<link href="assets/styles/all.css" rel="stylesheet" type="text/css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	</head>
	<body>
		<div class="wrapper">
			<div class="header">
				<div class="header__container">
					<figure class="logo"><a href="#"><img src="./assets/images/Logo_nipi.svg" class="logo__item"/></a></figure>
					<div class="nav">
						<div class="nav__item nav__item_active"><a href="#" class="nav__item-link nav__item-link_with-dropdown">Инжиниринг<span class="nav__item-arrow"></span></a>
							<div class="dropdown nav__item-dropdown"><a href="#" class="dropdown__row dropdown__row_orange">Инжиниринг</a><a href="#" class="dropdown__row dropdown__row_blue">Строительство</a><a href="#" class="dropdown__row dropdown__row_light-blue">Поставки</a></div>
						</div>
						<div class="nav__item"><a href="#" class="nav__item-link">Поиск объектов</a></div>
						<div class="nav__item"><a href="#" class="nav__item-link">Конструктор правил</a>
							<div class="dropdown nav__item-dropdown"><a href="#" class="dropdown__row">Конструктор правил</a><a href="#" class="dropdown__row">Технико-коммерческое предложение</a><a href="#" class="dropdown__row">Проекты</a><a href="#" class="dropdown__row">Применить правило</a>
								<div class="dropdown__row">Поиск дубликатор</div>
								<div class="dropdown__row">Просмотр дубликатов</div>
							</div>
						</div>
					</div>
					<div class="header__exit"><span class="header__exit-item">Выход</span><i class="header__exit-item-icon icon icon-exit"></i></div>
					<div class="header__user"><i class="header__user-icon icon icon-person"></i>
						<div class="header__user-name">Константин Иванович Константинопольский IV</div>
					</div>
					<div data-popup="question" class="header__help js-open-popup"><i class="header__help-item-icon icon icon-question"></i></div>
				</div>
			</div>
			<section class="main">
				<div class="main__left-column ui-widget-content js-resizable">
					<div class="main__title main__left-column-title">Список проектов
						<div class="main__title-sort-result js-main-sort-result">
							<div class="main__title-sort-result-title js-main-sort-result-title"></div>
							<div class="main__title-sort-result-cancel js-main-sort-result-cancel"></div>
						</div>
					</div>
					<div class="main__body main__left-column-body">
						<div class="widjet">
							<div class="widjet__header">
								<div class="widjet__select-all">
									<div class="checkbox">
										<input type="checkbox" id="select_all" data-selectId="leftColumn" class="checkbox__input js-select-all"/>
										<label for="select_all" class="checkbox__label">выбрать все</label>
									</div>
								</div>
								<div class="widjet__actions">
									<div data-notice="Избранное" class="widjet__actions__item icon icon-star"></div>
									<div data-notice="Удалить" class="widjet__actions__item icon icon-trash"></div>
									<div class="widjet__actions__devider"></div>
									<div data-notice="Плюс" class="widjet__actions__item icon icon-plus"></div>
									<div data-notice="Фильтровать" data-popup="filter" class="widjet__actions__item icon icon-filter js-open-popup"></div>
									<div data-notice="Сортировка" data-popup="sort" class="widjet__actions__item icon icon-sort js-open-popup"></div>
								</div>
							</div>
							<div class="widjet__body">
								<div class="widjet__row widjet__row_active">
									<div class="widjet__checkbox">
										<div class="checkbox">
											<input type="checkbox" id="row1" data-selectTarget="leftColumn" class="checkbox__input"/>
											<label for="row1" class="checkbox__label"> </label>
										</div>
									</div>Зап.-сиб. комплекс глубокой переработки УВС в полиолfasdf
									<div class="widjet__row-help">
										<div class="widjet__row-help-item widjet__row-help-item_star icon icon-star"></div>
										<div class="widjet__row-help-item widjet__row-help-item_trash icon icon-trash"></div>
									</div>
								</div>
								<div class="widjet__row widjet__row_isfavorite">
									<div class="widjet__checkbox">
										<div class="checkbox">
											<input type="checkbox" id="row2" data-selectTarget="leftColumn" class="checkbox__input"/>
											<label for="row2" class="checkbox__label"> </label>
										</div>
									</div>Зап.-сиб. комплекс глубокой переработки УВС в полиолfasdf
									<div class="widjet__row-help">
										<div class="widjet__row-help-item widjet__row-help-item_star widjet__row-help-item_active icon icon-star"></div>
										<div class="widjet__row-help-item widjet__row-help-item_trash icon icon-trash"></div>
									</div>
								</div>
								<div class="widjet__row">
									<div class="widjet__checkbox">
										<div class="checkbox">
											<input type="checkbox" id="row3" data-selectTarget="leftColumn" class="checkbox__input"/>
											<label for="row3" class="checkbox__label"> </label>
										</div>
									</div>Зап.-сиб. комплекс глубокой переработки УВС в полиолfasdf
									<div class="widjet__row-help">
										<div class="widjet__row-help-item widjet__row-help-item_star icon icon-star"></div>
										<div class="widjet__row-help-item widjet__row-help-item_trash icon icon-trash"></div>
									</div>
								</div>
								<div class="widjet__row">
									<div class="widjet__checkbox">
										<div class="checkbox">
											<input type="checkbox" id="row4" data-selectTarget="leftColumn" class="checkbox__input"/>
											<label for="row4" class="checkbox__label"> </label>
										</div>
									</div>Зап.-сиб. комплекс глубокой переработки УВС в полиолfasdf
									<div class="widjet__row-help">
										<div class="widjet__row-help-item widjet__row-help-item_star icon icon-star"></div>
										<div class="widjet__row-help-item widjet__row-help-item_trash icon icon-trash"></div>
									</div>
								</div>
								<div class="widjet__row">
									<div class="widjet__checkbox">
										<div class="checkbox">
											<input type="checkbox" id="row5" data-selectTarget="leftColumn" class="checkbox__input"/>
											<label for="row5" class="checkbox__label"> </label>
										</div>
									</div>Зап.-сиб. комплекс глубокой переработки УВС в полиолfasdf
									<div class="widjet__row-help">
										<div class="widjet__row-help-item widjet__row-help-item_star icon icon-star"></div>
										<div class="widjet__row-help-item widjet__row-help-item_trash icon icon-trash"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="main__right-column">
					<div data-title="Свойства проекта" class="main__title main__right-column-title">Свойства проекта
						<div class="main__title-help">
							<div class="main__title-watch-the-project">
								<div class="main__title-watch-the-project-icon icon icon-eye"></div>Посмотреть проект
							</div>
							<div class="main__title-help-apply icon icon-apply"></div>
							<div class="main__title-help-close icon icon-close"></div>
						</div>
					</div>
					<div class="main__body main__right-column-body">
						<div class="main__right-column-body-container">
							<form class="main__form">
								<div class="main__body-row">
									<div class="input">
										<div class="input__label">Наименование<span class="input__required">*</span></div>
										<div class="input__body">
											<div class="input__wrapper">
												<input type="text" value="Зап.-сиб комплекс глубокой переработки УВС в полиолефины" class="input__elem"/>
											</div>
											<div class="input__clear-icon icon icon-clear"></div>
										</div>
									</div>
								</div>
								<div class="main__body-row">
									<div class="main__body-column">
										<div class="main__body-row js-input-add-row">
											<div class="input">
												<div class="input__label">Заказчик<span class="input__required">*</span></div>
												<div class="input__body">
													<div class="input__wrapper">
														<input type="text" value="ООО «ЗапСибНефтехим» " class="input__elem js-input-autocomplete"/>
														<div class="input__clear js-input-clear"></div>
													</div>
													<div class="input__clear-icon icon icon-clear"></div>
													<div class="input__add-icon icon icon-add js-input-add-field"></div>
												</div>
											</div>
										</div>
										<div class="main__body-row js-input-add-row">
											<div class="input">
												<div class="input__label">ГИП</div>
												<div class="input__body">
													<div class="input__wrapper">
														<input type="text" value="Иванов И.И." class="input__elem"/>
													</div>
													<div class="input__clear-icon icon icon-clear"></div>
													<div class="input__add-icon icon icon-add js-input-add-field"></div>
												</div>
											</div>
										</div>
										<div class="main__body-row js-input-add-row">
											<div class="input">
												<div class="input__label">Договор</div>
												<div class="input__body">
													<div class="input__wrapper">
														<input type="text" value="092.2016" class="input__elem"/>
													</div>
													<div class="input__clear-icon icon icon-clear"></div>
													<div class="input__add-icon icon icon-add js-input-add-field"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="main__body-column">
										<div class="main__body-row js-input-add-row">
											<div class="input">
												<div class="input__label">Дата начала</div>
												<div class="input__body">
													<div class="input__wrapper">
														<input type="text" value="01.06.2016" class="input__elem js-datepicker"/>
														<div class="input__calendar-icon icon icon-calendar js-datepicker-icon"></div>
													</div>
													<div class="input__clear-icon icon icon-clear"></div>
													<div class="input__add-icon icon icon-add js-input-add-field"></div>
												</div>
											</div>
										</div>
										<div class="main__body-row js-input-add-row">
											<div class="input">
												<div class="input__label">Дата завершения</div>
												<div class="input__body">
													<div class="input__wrapper">
														<input type="text" value="01.06.2016" class="input__elem js-datepicker"/>
														<div class="input__calendar-icon icon icon-calendar js-datepicker-icon"></div>
													</div>
													<div class="input__clear-icon icon icon-clear"></div>
												</div>
											</div>
										</div>
										<div class="main__body-row js-input-add-row">
											<div class="input">
												<div class="input__label">Адрес сайта в Sgare Point</div>
												<div class="input__body">
													<div class="input__wrapper">
														<input type="text" value="" class="input__elem"/>
													</div>
													<div class="input__clear-icon icon icon-clear"></div>
													<div class="input__add-icon icon icon-add js-input-add-field"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="main__body-row">
									<div class="input input_half"><span class="main__form-button button button_white">Удалить</span></div>
									<div class="input input_half"><span class="main__form-button button button_white">Отменить</span>
										<button type="submit" class="main__form-button button">Сохранить</button>
									</div>
								</div>
							</form>
							<div class="files-form">
								<div class="files-form__item">
									<div class="files-form__title">Импорт Карточки проекта</div>
									<form class="files-form__elem js-input-file-form">
										<div class="files-form__choose-block js-input-file-choose">
											<div class="files-form__choose js-input-file-choose-file">Выбрать файл
												<input type="file" name="upload" id="upload" class="files-form__input js-input-file"/>
											</div>
										</div>
										<div style="display:none;" class="files-form__upload-info js-input-file-upload-info">
											<div class="files-form__name"><span class="js-input-file-name"></span>
												<div class="files-form__delete-upload-file js-input-file-delete"></div>
											</div>
											<div class="files-form__subtitle"></div>
										</div>
										<button class="files-form__submit files-form__submit_disabled"><i class="files-form__submit-icon icon icon-file"></i>Импортировать </button>
									</form>
								</div>
								<div class="files-form__item">
									<div class="files-form__title">Импорт Титульного списка</div>
									<form class="files-form__elem js-input-file-form">
										<div style="display:none;" class="files-form__choose-block js-input-file-choose">
											<div class="files-form__choose js-input-file-choose-file">Выбрать файл
												<input type="file" name="upload" id="upload" accept=".xls,.xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel" class="files-form__input js-input-file"/>
											</div>
										</div>
										<div class="files-form__upload-info js-input-file-upload-info">
											<div class="files-form__name"><span class="js-input-file-name">titul_02sdaf.png</span>
												<div class="files-form__delete-upload-file js-input-file-delete"></div>
											</div>
											<div class="files-form__subtitle">Загружено титулов: 15</div>
										</div>
										<button class="files-form__submit"><i class="files-form__submit-icon icon icon-file"></i>Импортировать</button>
									</form>
								</div>
								<div class="files-form__item">
									<div class="files-form__title">Импорт Бюджетного контроля</div>
									<form class="files-form__elem js-input-file-form">
										<div class="files-form__choose-block js-input-file-choose">
											<div class="files-form__choose js-input-file-choose-file">Выбрать файл
												<input type="file" name="upload" id="upload" accept=".xls,.xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel" class="files-form__input js-input-file"/>
											</div>
											<div class="files-form checkbox">
												<input type="checkbox" id="file_form" class="checkbox__input"/>
												<label for="file_form" class="checkbox__label checkbox__label_small">Автоматически создавать новые проекты</label>
											</div>
										</div>
										<div style="display:none;" class="files-form__upload-info js-input-file-upload-info">
											<div class="files-form__name"><span class="js-input-file-name"></span>
												<div class="files-form__delete-upload-file js-input-file-delete"></div>
											</div>
											<div class="files-form__subtitle"></div>
										</div>
										<button class="files-form__submit files-form__submit_disabled"><i class="files-form__submit-icon icon icon-file"></i>Импортировать </button>
									</form>
								</div>
								<div class="files-form__result">
									<div class="files-form__title">Результаты импорта&nbsp;<span>Создано объектов: 56, обновлено объектов: 1, ошибок: 1</span></div>
								</div>
							</div>
							<table class="table">
								<tr>
									<th class="table__first">Класс</th>
									<th>Создано объектов</th>
									<th>Объектов обновлено</th>
									<th class="table__last">Ошибок</th>
								</tr>
								<tr>
									<td class="table__first">Проект</td>
									<td>1</td>
									<td></td>
									<td class="table__last">1</td>
								</tr>
								<tr>
									<td class="table__first">Промышленный комплекс</td>
									<td>1</td>
									<td></td>
									<td class="table__last"></td>
								</tr>
								<tr>
									<td class="table__first">Контрагент</td>
									<td>1</td>
									<td>1</td>
									<td class="table__last"></td>
								</tr>
								<tr>
									<td class="table__first">Плановые трудозатраты в разрезе этапов</td>
									<td></td>
									<td></td>
									<td class="table__last"></td>
								</tr>
							</table>
							<div class="message">
								<div class="message__icon icon icon-alert"></div>
								<div class="message__title">Ошибки:</div>
								<div class="message__description">Не найден объект класса «Климатическая зона», соответствующий знаечению «Приполярная»</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<div class="popup js-popup">
			<div class="popup__item js-popup-item js-popup-item-columns">
				<div class="popup__header">Выбрать столбцы
					<div class="input">
						<div class="input__body">
							<div class="input__wrapper">
								<input type="text" placeholder="Поиск" class="input__elem input_type-search"/>
								<button class="input__search"><i class="icon icon-search input__search-icon"></i></button>
							</div>
						</div>
					</div>
					<div class="popup__close js-popup-close"></div>
				</div>
				<form class="popup__body popup__body_with-scroll popup__body_columns">
					<div class="widjet__element-row js-sortable">
						<div class="widjet__element-checkbox"><i class="icon icon-drag popup__row-draggable"></i>
							<div class="checkbox">
								<input type="checkbox" id="column1" class="checkbox__input"/>
								<label for="column1" class="checkbox__label">По возрастанию</label>
							</div>
						</div>
						<div class="widjet__element-checkbox"><i class="icon icon-drag popup__row-draggable"></i>
							<div class="checkbox">
								<input type="checkbox" id="column2" class="checkbox__input"/>
								<label for="column2" class="checkbox__label">По убыванию</label>
							</div>
						</div>
						<div class="widjet__element-checkbox"><i class="icon icon-drag popup__row-draggable"></i>
							<div class="checkbox">
								<input type="checkbox" id="column3" class="checkbox__input"/>
								<label for="column3" class="checkbox__label">По убыванию</label>
							</div>
						</div>
						<div class="widjet__element-checkbox"><i class="icon icon-drag popup__row-draggable"></i>
							<div class="checkbox">
								<input type="checkbox" id="column4" class="checkbox__input"/>
								<label for="column4" class="checkbox__label">По убыванию</label>
							</div>
						</div>
					</div>
				</form>
				<div class="popup__footer">
					<button type="submit" class="popup__footer-button button">Сохранить</button>
					<div class="popup__footer-button button button_white js-popup-close">Отменить</div>
				</div>
			</div>
			<div class="popup__item js-popup-item js-popup-item-filter">
				<div class="popup__header">Фильтр
					<div class="popup__close js-popup-close"></div>
				</div>
				<form class="popup__body">
					<div class="widjet__element-row">
						<div class="input">
							<div class="input__label">Наименование<span class="input__required">*</span></div>
							<div class="input__body">
								<div class="input__wrapper">
									<input type="text" value="Зап.-сиб комплекс глубокой переработки УВС в полиолефины" class="input__elem"/>
								</div>
								<div class="input__clear-icon icon icon-clear"></div>
							</div>
						</div>
					</div>
					<div class="widjet__element-row">
						<div class="input">
							<div class="input__label">Операция</div>
							<select id="mounth" class="js-select">
								<option value="hide">-- Month --</option>
								<option value="january">January</option>
								<option value="february">February</option>
								<option value="march">March</option>
								<option value="april">April</option>
								<option value="may">May</option>
								<option value="june">June</option>
								<option value="july">July</option>
								<option value="august">August</option>
								<option value="september">September</option>
								<option value="october">October</option>
								<option value="november">November</option>
							</select>
						</div>
					</div>
					<div class="widjet__element-row">
						<div class="input">
							<div class="input__label">Наименование<span class="input__required">*</span></div>
							<div class="input__body">
								<div class="input__wrapper">
									<input type="text" value="Зап.-сиб комплекс глубокой переработки УВС в полиолефины" class="input__elem"/>
								</div>
								<div class="input__clear-icon icon icon-clear"></div>
							</div>
						</div>
					</div>
				</form>
				<div class="popup__footer">
					<button type="submit" class="popup__footer-button button">Сохранить</button>
					<div class="popup__footer-button button button_white js-popup-close">Отменить</div>
				</div>
			</div>
			<div class="popup__item js-popup-item js-popup-item-sort">
				<div class="popup__header">Сортировка столбцов
					<div class="popup__close js-popup-close"></div>
				</div>
				<form class="popup__body">
					<div class="widjet__element-row">
						<div class="input">
							<div class="input__label">Поле</div>
							<select id="mounth" class="js-select">
								<option value="hide">-- Month --</option>
								<option value="January January January January JanuaryJanuary">January January January January JanuaryJanuary</option>
								<option value="february">February</option>
								<option value="march">March</option>
								<option value="april">April</option>
								<option value="may">May</option>
								<option value="june">June</option>
								<option value="july">July</option>
								<option value="august">August</option>
								<option value="september">September</option>
								<option value="october">October</option>
								<option value="november">November</option>
								<option value="december">December</option>
							</select>
						</div>
					</div>
					<div class="widjet__element-row">
						<div class="input">
							<div class="input__label">Порядок</div>
							<div class="widjet__element-checkbox">
								<div class="checkbox checkbox_radio">
									<input type="radio" name="filter" id="radio1" class="checkbox__input"/>
									<label for="radio1" class="checkbox__label">По возрастанию</label>
								</div>
							</div>
							<div class="widjet__element-checkbox">
								<div class="checkbox checkbox_radio">
									<input type="radio" name="filter" id="radio2" class="checkbox__input"/>
									<label for="radio2" class="checkbox__label">По убыванию</label>
								</div>
							</div>
						</div>
					</div>
				</form>
				<div class="popup__footer">
					<button type="submit" class="popup__footer-button button">Сохранить</button>
					<div class="popup__footer-button button button_white js-popup-close">Отменить</div>
				</div>
			</div>
			<div class="popup__item js-popup-item js-popup-item-question">
				<div class="popup__header">Задать вопрос
					<div class="popup__close js-popup-close"></div>
				</div>
				<form class="popup__body">
					<div class="widjet__element-row">
						<div class="input">
							<div class="input__body">
								<div class="input__wrapper">
									<textarea class="input__elem input__elem_textarea"></textarea>
								</div>
							</div>
						</div>
					</div>
				</form>
				<div class="popup__footer">
					<button type="submit" class="popup__footer-button button">Отправить</button>
					<div class="popup__footer-button button button_white js-popup-close">Закрыть</div>
				</div>
			</div>
			<div class="popup__item js-popup-item js-popup-item-negative-comment">
				<div class="popup__header">Прокомментируйте вашу оценку
					<div class="popup__close js-popup-close"></div>
				</div>
				<form class="popup__body">
					<div class="widjet__element-row">
						<div class="input">
							<div class="input__label">Пожалуйста, укажите причину отрицательной оценки</div>
							<div class="input__body">
								<div class="input__wrapper">
									<textarea class="input__elem input__elem_textarea"></textarea>
								</div>
							</div>
						</div>
					</div>
				</form>
				<div class="popup__footer">
					<button type="submit" class="popup__footer-button button">Отправить</button>
					<div class="popup__footer-button button button_white js-popup-close">Закрыть</div>
				</div>
			</div>
			<div class="popup__item js-popup-item js-popup-item-comments-list">
				<div class="popup__header">Просмотр оценок
					<div class="popup__close js-popup-close"></div>
				</div>
				<form class="popup__body">
					<div class="tabs tabs_comments-list js-tabs">
						<div class="tabs__header">
							<div data-tab="tab1" class="tabs__header-item tabs__header-item_active js-tabs-header-item"><span class="tabs__header-item-value">Положительные оценки</span></div>
							<div data-tab="tab2" class="tabs__header-item js-tabs-header-item"><span class="tabs__header-item-value">Отрицательные оценки</span></div>
						</div>
						<div class="tabs__body tabs__body_with-scroll tabs__body_tab1 js-tabs-body">
							<div class="comments-list">
								<div class="comments-list__item">
									<div class="comments-list__name">ФИо
										<div class="comments-list__date">22.11.1111</div>
									</div>
								</div>
								<div class="comments-list__item">
									<div class="comments-list__name">ФИо
										<div class="comments-list__date">22.11.1111</div>
									</div>
								</div>
								<div class="comments-list__item">
									<div class="comments-list__name">ФИо
										<div class="comments-list__date">22.11.1111</div>
									</div>
								</div>
								<div class="comments-list__item">
									<div class="comments-list__name">ФИо
										<div class="comments-list__date">22.11.1111</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tabs__body tabs__body_with-scroll tabs__body_tab2 js-tabs-body">
							<div class="comments-list">
								<div class="comments-list__item">
									<div class="comments-list__name">ФИо
										<div class="comments-list__date">22.11.1111</div>
									</div>
									<div class="comments-list__notice">Здесь будет много много текста потому что нужно его заполнить</div>
								</div>
								<div class="comments-list__item">
									<div class="comments-list__name">ФИо
										<div class="comments-list__date">22.11.1111</div>
									</div>
									<div class="comments-list__notice">Здесь будет много много текста потому что нужно его заполнить</div>
								</div>
								<div class="comments-list__item">
									<div class="comments-list__name">ФИо
										<div class="comments-list__date">22.11.1111</div>
									</div>
									<div class="comments-list__notice">Здесь будет много много текста потому что нужно его заполнить</div>
								</div>
								<div class="comments-list__item">
									<div class="comments-list__name">ФИо
										<div class="comments-list__date">22.11.1111</div>
									</div>
									<div class="comments-list__notice">Здесь будет много много текста потому что нужно его заполнить</div>
								</div>
							</div>
						</div>
					</div>
				</form>
				<div class="popup__footer">
					<div class="popup__footer-button button button_white js-popup-close">Закрыть</div>
				</div>
			</div>
		</div>
		<script src="./js/vendor/jquery/jquery.js"></script>
		<script src="./js/vendor/jqueryui/jquery-ui.js"></script>
		<script src="./js/vendor/autocomplete/jquery.autocompleter.js"></script>
		<script src="./assets/scripts/all.js"></script>
	</body>
</html>
