dist/login.html
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Главная страница</title>
		<link href="assets/styles/all.css" rel="stylesheet" type="text/css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	</head>
	<body>
		<div class="wrapper wrapper_background">
			<form class="login-form">
				<div class="login-form__header">
					<div class="login-form__logo login-form__logo_nipigaz"></div>
					<div class="login-form__logo login-form__logo_light"></div>
					<div class="login-form__logo login-form__logo_suz"></div>
				</div>
				<div class="login-form__body">
					<div class="login-form__title">Вход в систему</div>
					<div class="login-form__input-wrapper">
						<div class="input">
							<div class="input__label">Логин</div>
							<div class="input__wrapper">
								<input type="text" value="" name="login" class="input__elem input__elem_error"/>
							</div>
							<div class="input__error">Проверьте правильность логина</div>
						</div>
					</div>
					<div class="login-form__input-wrapper">
						<div class="input">
							<div class="input__label">Пароль</div>
							<div class="input__wrapper">
								<input type="password" value="" name="password" class="input__elem"/>
							</div>
						</div>
					</div>
					<button type="submit" class="login-form__submit">Войти</button>
				</div>
			</form>
		</div>
		<script src="./js/vendor/jquery/jquery.js"></script>
		<script src="./js/vendor/jqueryui/jquery-ui.js"></script>
		<script src="./js/vendor/autocomplete/jquery.autocompleter.js"></script>
		<script src="./assets/scripts/all.js"></script>
	</body>
</html>

src/templates/pages/login.jade

doctype strict
html
  head
    include ../blocks/head

  body
    .wrapper.wrapper_background

      form.login-form
        .login-form__header
          .login-form__logo.login-form__logo_nipigaz
          .login-form__logo.login-form__logo_light
          .login-form__logo.login-form__logo_suz

        .login-form__body
          .login-form__title Вход в систему
          .login-form__input-wrapper
            .input
              .input__label Логин
              .input__wrapper
                input.input__elem.input__elem_error(type="text", value="", name="login")
              .input__error Проверьте правильность логина
          .login-form__input-wrapper
            .input
              .input__label Пароль
              .input__wrapper
                input.input__elem(type="password", value="", name="password")
          button.login-form__submit(type="submit") Войти

    

    include ../blocks/scripts
