dist/main.html
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Главная страница</title>
		<link href="assets/styles/all.css" rel="stylesheet" type="text/css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	</head>
	<body>
		<div class="wrapper wrapper_background">
			<div class="header">
				<div class="header__container">
					<figure class="logo"><a href="#"><img src="./assets/images/Logo_nipi.svg" class="logo__item"/></a></figure>
					<div class="nav">
						<div class="nav__item nav__item_active"><a href="#" class="nav__item-link nav__item-link_with-dropdown">Инжиниринг<span class="nav__item-arrow"></span></a>
							<div class="dropdown nav__item-dropdown"><a href="#" class="dropdown__row dropdown__row_orange">Инжиниринг</a><a href="#" class="dropdown__row dropdown__row_blue">Строительство</a><a href="#" class="dropdown__row dropdown__row_light-blue">Поставки</a></div>
						</div>
						<div class="nav__item"><a href="#" class="nav__item-link">Поиск объектов</a></div>
						<div class="nav__item"><a href="#" class="nav__item-link">Конструктор правил</a>
							<div class="dropdown nav__item-dropdown"><a href="#" class="dropdown__row">Конструктор правил</a><a href="#" class="dropdown__row">Технико-коммерческое предложение</a><a href="#" class="dropdown__row">Проекты</a><a href="#" class="dropdown__row">Применить правило</a>
								<div class="dropdown__row">Поиск дубликатор</div>
								<div class="dropdown__row">Просмотр дубликатов</div>
							</div>
						</div>
					</div>
					<div class="header__exit"><span class="header__exit-item">Выход</span><i class="header__exit-item-icon icon icon-exit"></i></div>
					<div class="header__user"><i class="header__user-icon icon icon-person"></i>
						<div class="header__user-name">Константин Иванович Константинопольский IV</div>
					</div>
					<div data-popup="question" class="header__help js-open-popup"><i class="header__help-item-icon icon icon-question"></i></div>
				</div>
			</div>
			<div class="search">
				<div class="search__wrapper">
					<div class="search__nav">
						<div class="search__nav-item"><i class="search__nav-icon search__nav-icon_star-empty icon icon-star-empty"></i>Избранные объекты</div>
						<div class="search__nav-item"><i class="search__nav-icon search__nav-icon_time icon icon-time"></i>Последние просмотренные</div>
						<div class="search__nav-item"><i class="search__nav-icon search__nav-icon_requests icon icon-requests"></i>Мои запросы<span class="search__nav-arrow"></span>
							<div class="dropdown search__nav-dropdown">
								<div class="dropdown__row">Марка ЭПО по насосным<span class="search__nav-dropdown-delete"></span></div>
								<div class="dropdown__row">Марка ЭПО по насосным<span class="search__nav-dropdown-delete"></span></div>
								<div class="dropdown__row">Насосные в составе установок сжижения газа<span class="search__nav-dropdown-delete"></span></div>
								<div class="dropdown__row">Насосные в составе установок сжижения газа<span class="search__nav-dropdown-delete"></span></div>
							</div>
						</div>
					</div>
					<form class="search__body">
						<input type="text" placeholder="Поиск по строке" class="search__input"/>
						<button type="submit" class="search__button icon icon-search"></button>
					</form>
				</div>
			</div>
			<div class="tabs js-tabs">
				<div class="tabs__header">
					<div data-tab="tab1" class="tabs__header-item tabs__header-item_active js-tabs-header-item"><span class="tabs__header-item-value">Найти</span></div>
					<div data-tab="tab2" class="tabs__header-item js-tabs-header-item"><span class="tabs__header-item-value">Добавить</span></div>
				</div>
				<div class="tabs__body tabs__body_tab1 js-tabs-body">
					<div class="grid">
						<div class="grid__row">
							<div class="grid__title">Объекты проектирования</div>
							<div class="grid__cells grid__cells_even">
								<div class="grid__cell">
									<div class="grid__cell-image"><img src="./assets/images/grid_objects/ic1.png" class="grid__cell-image-item"/></div>
									<div class="grid__cell-title">Проект</div>
								</div>
								<div class="grid__cell">
									<div class="grid__cell-image"><img src="./assets/images/grid_objects/ic2.png" class="grid__cell-image-item"/></div>
									<div class="grid__cell-title">Промышленный комплекс</div>
								</div>
								<div class="grid__cell">
									<div class="grid__cell-image"><img src="./assets/images/grid_objects/ic3.png" class="grid__cell-image-item"/></div>
									<div class="grid__cell-title">Титул</div>
								</div>
							</div>
						</div>
						<div class="grid__row">
							<div class="grid__title">Документация</div>
							<div class="grid__cells grid__cells_odd">
								<div class="grid__cell">
									<div class="grid__cell-image"><img src="./assets/images/grid_objects/ic5.png" class="grid__cell-image-item"/></div>
									<div class="grid__cell-title">Комплект документов</div>
								</div>
								<div class="grid__cell">
									<div class="grid__cell-image"><img src="./assets/images/grid_objects/ic6.png" class="grid__cell-image-item"/></div>
									<div class="grid__cell-title">Документ</div>
								</div>
							</div>
						</div>
						<div class="grid__row">
							<div class="grid__title">Опыт</div>
							<div class="grid__cells grid__cells_even">
								<div class="grid__cell">
									<div class="grid__cell-image"><img src="./assets/images/grid_objects/ic7.png" class="grid__cell-image-item"/></div>
									<div class="grid__cell-title">Выученный урок</div>
								</div>
								<div class="grid__cell">
									<div class="grid__cell-image"><img src="./assets/images/grid_objects/ic8.png" class="grid__cell-image-item"/></div>
									<div class="grid__cell-title">Реестр ошибок</div>
								</div>
								<div class="grid__cell">
									<div class="grid__cell-image"><img src="./assets/images/grid_objects/ic9.png" class="grid__cell-image-item"/></div>
									<div class="grid__cell-title">Риск проектирования</div>
								</div>
							</div>
						</div>
						<div class="grid__row">
							<div class="grid__title">Коммерческая работа</div>
							<div class="grid__cells grid__cells_odd">
								<div class="grid__cell">
									<div class="grid__cell-image"><img src="./assets/images/grid_objects/ic4.png" class="grid__cell-image-item"/></div>
									<div class="grid__cell-title">ТКП</div>
								</div>
								<div class="grid__cell">
									<div class="grid__cell-image"><img src="./assets/images/grid_objects/ic10.png" class="grid__cell-image-item"/></div>
									<div class="grid__cell-title">Тендеры</div>
								</div>
								<div class="grid__cell">
									<div class="grid__cell-image"><img src="./assets/images/grid_objects/ic6.png" class="grid__cell-image-item"/></div>
									<div class="grid__cell-title">Предложение Конкурента</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tabs__body tabs__body_tab2 js-tabs-body">
					<div class="grid">
						<div class="grid__row">
							<div class="grid__title"></div>
							<div class="grid__cells grid__cells_even">
								<div class="grid__cell">
									<div class="grid__cell-image"><img src="./assets/images/grid_objects/ic1.png" class="grid__cell-image-item"/></div>
									<div class="grid__cell-title">Проект</div>
								</div>
								<div class="grid__cell">
									<div class="grid__cell-image"><img src="./assets/images/grid_objects/ic7.png" class="grid__cell-image-item"/></div>
									<div class="grid__cell-title">«Выученный урок»</div>
								</div>
								<div class="grid__cell">
									<div class="grid__cell-image"><img src="./assets/images/grid_objects/ic9.png" class="grid__cell-image-item"/></div>
									<div class="grid__cell-title">Риск проектирования</div>
								</div>
							</div>
						</div>
						<div class="grid__row">
							<div class="grid__title"></div>
							<div class="grid__cells grid__cells_even">
								<div class="grid__cell">
									<div class="grid__cell-image"><img src="./assets/images/grid_objects/ic10.png" class="grid__cell-image-item"/></div>
									<div class="grid__cell-title">Тендер</div>
								</div>
								<div class="grid__cell">
									<div class="grid__cell-image"><img src="./assets/images/grid_objects/ic4.png" class="grid__cell-image-item"/></div>
									<div class="grid__cell-title">ТКП</div>
								</div>
								<div class="grid__cell">
									<div class="grid__cell-image"><img src="./assets/images/grid_objects/ic5.png" class="grid__cell-image-item"/></div>
									<div class="grid__cell-title">Предложение конкурента</div>
								</div>
							</div>
						</div>
						<div class="grid__row">
							<div class="grid__title"></div>
							<div class="grid__cells grid__cells_odd">
								<div class="grid__cell">
									<div class="grid__cell-image"><img src="./assets/images/grid_objects/ic8.png" class="grid__cell-image-item"/></div>
									<div class="grid__cell-title">Реестр ошибок</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer">
				<div class="footer__content">В системе содержится: <b>проектов - 134, титулов - 7275, документов - 2821803</b></div>
			</div>
		</div>
		<script src="./js/vendor/jquery/jquery.js"></script>
		<script src="./js/vendor/jqueryui/jquery-ui.js"></script>
		<script src="./js/vendor/autocomplete/jquery.autocompleter.js"></script>
		<script src="./assets/scripts/all.js"></script>
	</body>
</html>

src/templates/pages/main.jade

doctype strict
html
  head
    include ../blocks/head

  body
    .wrapper.wrapper_background
      include ../blocks/header
      .search
        .search__wrapper
          .search__nav
            .search__nav-item
              i.search__nav-icon.search__nav-icon_star-empty.icon.icon-star-empty
              | Избранные объекты
            .search__nav-item
              i.search__nav-icon.search__nav-icon_time.icon.icon-time
              | Последние просмотренные
            .search__nav-item
              i.search__nav-icon.search__nav-icon_requests.icon.icon-requests
              | Мои запросы
              span.search__nav-arrow
              .dropdown.search__nav-dropdown
                .dropdown__row
                  | Марка ЭПО по насосным
                  span.search__nav-dropdown-delete
                .dropdown__row
                  | Марка ЭПО по насосным
                  span.search__nav-dropdown-delete
                .dropdown__row
                  | Насосные в составе установок сжижения газа
                  span.search__nav-dropdown-delete
                .dropdown__row
                  | Насосные в составе установок сжижения газа
                  span.search__nav-dropdown-delete

          form.search__body
            input.search__input(type="text", placeholder="Поиск по строке")
            button.search__button.icon.icon-search(type="submit")
    
      .tabs.js-tabs
        .tabs__header
          .tabs__header-item.tabs__header-item_active.js-tabs-header-item(data-tab="tab1")
            span.tabs__header-item-value Найти
          .tabs__header-item.js-tabs-header-item(data-tab="tab2")
            span.tabs__header-item-value Добавить
        .tabs__body.tabs__body_tab1.js-tabs-body
          .grid
            .grid__row
              .grid__title Объекты проектирования
              .grid__cells.grid__cells_even
                .grid__cell
                  .grid__cell-image
                    img.grid__cell-image-item(src="./assets/images/grid_objects/ic1.png")
                  .grid__cell-title Проект
                .grid__cell
                  .grid__cell-image
                    img.grid__cell-image-item(src="./assets/images/grid_objects/ic2.png")
                  .grid__cell-title Промышленный комплекс
                .grid__cell
                  .grid__cell-image
                    img.grid__cell-image-item(src="./assets/images/grid_objects/ic3.png")
                  .grid__cell-title Титул
            .grid__row
              .grid__title Документация
              .grid__cells.grid__cells_odd
                .grid__cell
                  .grid__cell-image
                    img.grid__cell-image-item(src="./assets/images/grid_objects/ic5.png")
                  .grid__cell-title Комплект документов
                .grid__cell
                  .grid__cell-image
                    img.grid__cell-image-item(src="./assets/images/grid_objects/ic6.png")
                  .grid__cell-title Документ
            .grid__row
              .grid__title Опыт
              .grid__cells.grid__cells_even
                .grid__cell
                  .grid__cell-image
                    img.grid__cell-image-item(src="./assets/images/grid_objects/ic7.png")
                  .grid__cell-title Выученный урок
                .grid__cell
                  .grid__cell-image
                    img.grid__cell-image-item(src="./assets/images/grid_objects/ic8.png")
                  .grid__cell-title Реестр ошибок
                .grid__cell
                  .grid__cell-image
                    img.grid__cell-image-item(src="./assets/images/grid_objects/ic9.png")
                  .grid__cell-title Риск проектирования
            .grid__row
              .grid__title Коммерческая работа
              .grid__cells.grid__cells_odd
                .grid__cell
                  .grid__cell-image
                    img.grid__cell-image-item(src="./assets/images/grid_objects/ic4.png")
                  .grid__cell-title ТКП
                .grid__cell
                  .grid__cell-image
                    img.grid__cell-image-item(src="./assets/images/grid_objects/ic10.png")
                  .grid__cell-title Тендеры
                .grid__cell
                  .grid__cell-image
                    img.grid__cell-image-item(src="./assets/images/grid_objects/ic6.png")
                  .grid__cell-title Предложение Конкурента
                    
        .tabs__body.tabs__body_tab2.js-tabs-body
          .grid
            .grid__row
              .grid__title
              .grid__cells.grid__cells_even
                .grid__cell
                  .grid__cell-image
                    img.grid__cell-image-item(src="./assets/images/grid_objects/ic1.png")
                  .grid__cell-title Проект
                .grid__cell
                  .grid__cell-image
                    img.grid__cell-image-item(src="./assets/images/grid_objects/ic7.png")
                  .grid__cell-title «Выученный урок»
                .grid__cell
                  .grid__cell-image
                    img.grid__cell-image-item(src="./assets/images/grid_objects/ic9.png")
                  .grid__cell-title Риск проектирования
            .grid__row
              .grid__title
              .grid__cells.grid__cells_even
                .grid__cell
                  .grid__cell-image
                    img.grid__cell-image-item(src="./assets/images/grid_objects/ic10.png")
                  .grid__cell-title Тендер
                .grid__cell
                  .grid__cell-image
                    img.grid__cell-image-item(src="./assets/images/grid_objects/ic4.png")
                  .grid__cell-title ТКП
                .grid__cell
                  .grid__cell-image
                    img.grid__cell-image-item(src="./assets/images/grid_objects/ic5.png")
                  .grid__cell-title Предложение конкурента
            .grid__row
              .grid__title
              .grid__cells.grid__cells_odd
                .grid__cell
                  .grid__cell-image
                    img.grid__cell-image-item(src="./assets/images/grid_objects/ic8.png")
                  .grid__cell-title Реестр ошибок
                  
      .footer
        .footer__content В системе содержится: <b>проектов - 134, титулов - 7275, документов - 2821803</b>


    include ../blocks/scripts
