src/templates/pages/search_tender.jade

doctype strict
html
  head
    include ../blocks/head

  body
    .wrapper
      include ../blocks/header

      section.main
        .main__left-column.ui-widget-content.js-resizable
          .main__title.main__left-column-title
            .main__title-dropdown
              | Поиск тендера
              span.main__title-dropdown-arrow
              .dropdown.nav__item-dropdown
                a.dropdown__row(href="#")
                  | Проект
                a.dropdown__row(href="#")
                  | Риски проектирования
                a.dropdown__row(href="#")
                  | Выученный урок
                .dropdown__row
                  | Поиск в реестре ошибок
            button.main__title-button(type="submit")
              i.icon.icon-search.main__title-button-search
              | Найти 

          .main__body.main__left-column-body
            .widjet.widjet_with-scroll.widjet_no-background
              
              .widjet__element.widjet__element_notitle
                .widjet__element-row
                  .input
                    .input__body
                      .input__wrapper
                        .input__beauty-arrow.js-beauty-arrow
                          i.input__beauty-arrow-icon.icon.icon-t
                          .input__beauty-arrow-text Название содержит
                        input.input__elem.js-beauty-arrow-input(type="text")
                .widjet__element-row
                  .input
                    .input__body
                      .input__wrapper
                        .input__beauty-arrow.js-beauty-arrow
                          i.input__beauty-arrow-icon.icon.icon-bag
                          .input__beauty-arrow-text Заказчик
                        input.input__elem.js-beauty-arrow-input(type="text", value="Сибру-Нефтехим")
                .widjet__element-row
                  .input
                    .input__body
                      .input__wrapper
                        .input__beauty-arrow.js-beauty-arrow
                          i.input__beauty-arrow-icon.icon.icon-dotted
                          .input__beauty-arrow-text Статус
                        input.input__elem.js-beauty-arrow-input(type="text", value="Выигран")
                .widjet__element-row
                  .input
                    .input__label Период
                    .input__body.input__body-justify-space-between
                      .input__wrapper.input__wrapper_double
                        | c
                        input.input__elem.input__elem_middle.js-datepicker(type="text", value="01.06.2016")
                        .input__calendar-icon.icon.icon-calendar.js-datepicker-icon
                      .input__wrapper.input__wrapper_double
                        | по
                        input.input__elem.input__elem_middle.js-datepicker(type="text", value="01.06.2016")
                        .input__calendar-icon.icon.icon-calendar.js-datepicker-icon

              include ../blocks/widjet_prom_complex

        
        .main__right-column
          .main__title.main__right-column-title(data-title="Результаты поиска") Результаты поиска
            .main__title-help
              .main__title-watch-the-project
                .main__title-watch-the-project-icon.icon.icon-excel
                | Экспорт в Exсel
          .main__body.main__right-column-body.main__body_nopadding
            .main__right-column-body-container
              .search-results
                .search-results__table
                  .search-results__table-header Тендеры
                  .search-results__table-body
                    .search-results__table-row
                      i.search-results__table-icon-star.icon.icon-star-empty
                      | Зап.-сиб. комплекс глубокой переработки УВС в полиолефины 
                    .search-results__table-row.search-results__table-row_active
                      i.search-results__table-icon-star.search-results__table-icon-star_active.icon.icon-star-empty
                      | Зап.-сиб. комплекс глубокой переработки УВС в полиолефины

                .search-results__actions
                  .search-results__actions-item
                    i.icon.icon-star-empty.search-results__actions-item-icon
                    | В избранное
                  .search-results__actions-item
                    i.icon.icon-edit.search-results__actions-item-icon
                    | Редактировать
                  .search-results__actions-item
                    i.icon.icon-eye.search-results__actions-item-icon
                    | Перейти к тендеру

                .search-results__text.text
                  h3 Сводка данных по тендеру
                  .text__table
                    span Проект
                    a(href="#") Зап.-сиб. комплекс глубокой переработки УВС в полиолефины
                  .text__table
                    span Дата начала приема заявок
                    | 01.04.2017
                  .text__table
                    span Дата окончания приема заявок
                    | 20.04.2017
                  .text__table
                    span Заказчик
                    a(href="#") Сургут-Нефтехим
                  .text__table
                    span Начальная цена
                    | 180 000 000 Р
                  .text__table
                    span Статус
                    span.text__table-border.text__table-border_blue Выигран
                  .text__table
                    span Статус
                    span.text__table-border.text__table-border_grey Идет

                .search-results__text.text
                  h3 Предложения на тендер
                  table.table.table_search-results
                    tr
                      th.table__first Участник
                      th Сумма, Р
                      th Срок работ
                      th.table__last Трудозатраты
                    tr
                      td.table__first ООО «Ромашка»
                      td 179 000 000
                      td 14 месяцев
                      td.table__last 14 900 ч/часов
                    tr
                      td.table__first ООО «Василек»
                      td 178 000 000
                      td 15 месяцев
                      td.table__last 13 590 ч/часов
                    tr.table_search-results_active
                      td.table__first НИПИгаз
                      td 176 000 000
                      td 12 месяцев
                      td.table__last 14 280 ч/часов

    include ../blocks/scripts

dist/search_tender.html
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Главная страница</title>
		<link href="assets/styles/all.css" rel="stylesheet" type="text/css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	</head>
	<body>
		<div class="wrapper">
			<div class="header">
				<div class="header__container">
					<figure class="logo"><a href="#"><img src="./assets/images/Logo_nipi.svg" class="logo__item"/></a></figure>
					<div class="nav">
						<div class="nav__item nav__item_active"><a href="#" class="nav__item-link nav__item-link_with-dropdown">Инжиниринг<span class="nav__item-arrow"></span></a>
							<div class="dropdown nav__item-dropdown"><a href="#" class="dropdown__row dropdown__row_orange">Инжиниринг</a><a href="#" class="dropdown__row dropdown__row_blue">Строительство</a><a href="#" class="dropdown__row dropdown__row_light-blue">Поставки</a></div>
						</div>
						<div class="nav__item"><a href="#" class="nav__item-link">Поиск объектов</a></div>
						<div class="nav__item"><a href="#" class="nav__item-link">Конструктор правил</a>
							<div class="dropdown nav__item-dropdown"><a href="#" class="dropdown__row">Конструктор правил</a><a href="#" class="dropdown__row">Технико-коммерческое предложение</a><a href="#" class="dropdown__row">Проекты</a><a href="#" class="dropdown__row">Применить правило</a>
								<div class="dropdown__row">Поиск дубликатор</div>
								<div class="dropdown__row">Просмотр дубликатов</div>
							</div>
						</div>
					</div>
					<div class="header__exit"><span class="header__exit-item">Выход</span><i class="header__exit-item-icon icon icon-exit"></i></div>
					<div class="header__user"><i class="header__user-icon icon icon-person"></i>
						<div class="header__user-name">Константин Иванович Константинопольский IV</div>
					</div>
					<div data-popup="question" class="header__help js-open-popup"><i class="header__help-item-icon icon icon-question"></i></div>
				</div>
			</div>
			<section class="main">
				<div class="main__left-column ui-widget-content js-resizable">
					<div class="main__title main__left-column-title">
						<div class="main__title-dropdown">Поиск тендера<span class="main__title-dropdown-arrow"></span>
							<div class="dropdown nav__item-dropdown"><a href="#" class="dropdown__row">Проект</a><a href="#" class="dropdown__row">Риски проектирования</a><a href="#" class="dropdown__row">Выученный урок</a>
								<div class="dropdown__row">Поиск в реестре ошибок</div>
							</div>
						</div>
						<button type="submit" class="main__title-button"><i class="icon icon-search main__title-button-search"></i>Найти </button>
					</div>
					<div class="main__body main__left-column-body">
						<div class="widjet widjet_with-scroll widjet_no-background">
							<div class="widjet__element widjet__element_notitle">
								<div class="widjet__element-row">
									<div class="input">
										<div class="input__body">
											<div class="input__wrapper">
												<div class="input__beauty-arrow js-beauty-arrow"><i class="input__beauty-arrow-icon icon icon-t"></i>
													<div class="input__beauty-arrow-text">Название содержит</div>
												</div>
												<input type="text" class="input__elem js-beauty-arrow-input"/>
											</div>
										</div>
									</div>
								</div>
								<div class="widjet__element-row">
									<div class="input">
										<div class="input__body">
											<div class="input__wrapper">
												<div class="input__beauty-arrow js-beauty-arrow"><i class="input__beauty-arrow-icon icon icon-bag"></i>
													<div class="input__beauty-arrow-text">Заказчик</div>
												</div>
												<input type="text" value="Сибру-Нефтехим" class="input__elem js-beauty-arrow-input"/>
											</div>
										</div>
									</div>
								</div>
								<div class="widjet__element-row">
									<div class="input">
										<div class="input__body">
											<div class="input__wrapper">
												<div class="input__beauty-arrow js-beauty-arrow"><i class="input__beauty-arrow-icon icon icon-dotted"></i>
													<div class="input__beauty-arrow-text">Статус</div>
												</div>
												<input type="text" value="Выигран" class="input__elem js-beauty-arrow-input"/>
											</div>
										</div>
									</div>
								</div>
								<div class="widjet__element-row">
									<div class="input">
										<div class="input__label">Период</div>
										<div class="input__body input__body-justify-space-between">
											<div class="input__wrapper input__wrapper_double">c
												<input type="text" value="01.06.2016" class="input__elem input__elem_middle js-datepicker"/>
												<div class="input__calendar-icon icon icon-calendar js-datepicker-icon"></div>
											</div>
											<div class="input__wrapper input__wrapper_double">по
												<input type="text" value="01.06.2016" class="input__elem input__elem_middle js-datepicker"/>
												<div class="input__calendar-icon icon icon-calendar js-datepicker-icon"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="widjet__element js-widjet-accordion">
								<div class="widjet__element-title">Параметры промышленного комплекса
									<div class="widjet__element-arrow js-widjet-accordion-arrow"></div>
								</div>
								<div class="widjet__element-row">
									<div class="widjet__element-checkbox">
										<div class="checkbox">
											<input type="checkbox" id="row1" class="checkbox__input"/>
											<label for="row1" class="checkbox__label">СПГ</label>
										</div>
									</div>
									<div class="widjet__element-checkbox">
										<div class="checkbox">
											<input type="checkbox" id="row2" class="checkbox__input"/>
											<label for="row2" class="checkbox__label">ГПЗ</label>
										</div>
									</div>
									<div class="widjet__element-checkbox">
										<div class="checkbox">
											<input type="checkbox" id="row3" class="checkbox__input"/>
											<label for="row3" class="checkbox__label">НПЗ</label>
										</div>
									</div>
									<div class="widjet__element-checkbox">
										<div class="checkbox">
											<input type="checkbox" id="row4" class="checkbox__input"/>
											<label for="row4" class="checkbox__label">НХК</label>
										</div>
									</div>
									<div class="widjet__element-checkbox">
										<div class="checkbox">
											<input type="checkbox" id="row5" class="checkbox__input"/>
											<label for="row5" class="checkbox__label">ГХК</label>
										</div>
									</div>
								</div>
								<div class="widjet__element-row">
									<div class="input__label">Красивый селект</div>
									<select id="mounth" class="js-select">
										<option value="hide">-- Month --</option>
										<option value="January January January January JanuaryJanuary">January January January January JanuaryJanuary</option>
										<option value="february">February</option>
										<option value="march">March</option>
										<option value="april">April</option>
										<option value="may">May</option>
										<option value="june">June</option>
										<option value="july">July</option>
										<option value="august">August</option>
										<option value="september">September</option>
										<option value="october">October</option>
										<option value="november">November</option>
										<option value="december">December</option>
									</select>
								</div>
								<div class="widjet__element-row">
									<div class="input__label">Да или нет?</div>
									<div class="input__body">
										<div class="widjet__element-checkbox">
											<div class="radio">
												<input type="radio" name="group" checked="checked" id="row6" class="radio__input"/>
												<label for="row6" class="radio__label">Да</label>
											</div>
										</div>
										<div class="widjet__element-checkbox">
											<div class="radio">
												<input type="radio" name="group" id="row7" class="radio__input"/>
												<label for="row7" class="radio__label">Нет</label>
											</div>
										</div>
									</div>
								</div>
								<div class="widjet__element-row">
									<div class="input">
										<div class="input__label">Мощность</div>
										<div class="input__body">
											<div class="input__wrapper">от
												<input type="text" value="" class="input__elem input__elem_small"/>до
												<input type="text" value="" class="input__elem input__elem_small"/><span class="input__black-text">млн. тонн в год</span>
											</div>
										</div>
									</div>
								</div>
								<div class="widjet__element-row">
									<div class="input">
										<div class="input__label">ГИП</div>
										<div class="input__body">
											<div class="input__wrapper">
												<input type="text" value="Западная сибирь" class="input__elem js-input-autocomplete"/>
												<div class="input__arrow js-show-autocomplete-results"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="widjet__element-row">
									<div class="input">
										<div class="input__label">ГИП</div>
										<div class="input__body"> 
											<div class="input__wrapper">
												<input type="text" value="Субантарктическая" class="input__elem js-input-autocomplete"/>
												<div class="input__arrow js-show-autocomplete-results"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="main__right-column">
					<div data-title="Результаты поиска" class="main__title main__right-column-title">Результаты поиска
						<div class="main__title-help">
							<div class="main__title-watch-the-project">
								<div class="main__title-watch-the-project-icon icon icon-excel"></div>Экспорт в Exсel
							</div>
						</div>
					</div>
					<div class="main__body main__right-column-body main__body_nopadding">
						<div class="main__right-column-body-container">
							<div class="search-results">
								<div class="search-results__table">
									<div class="search-results__table-header">Тендеры</div>
									<div class="search-results__table-body">
										<div class="search-results__table-row"><i class="search-results__table-icon-star icon icon-star-empty"></i>Зап.-сиб. комплекс глубокой переработки УВС в полиолефины </div>
										<div class="search-results__table-row search-results__table-row_active"><i class="search-results__table-icon-star search-results__table-icon-star_active icon icon-star-empty"></i>Зап.-сиб. комплекс глубокой переработки УВС в полиолефины</div>
									</div>
								</div>
								<div class="search-results__actions">
									<div class="search-results__actions-item"><i class="icon icon-star-empty search-results__actions-item-icon"></i>В избранное</div>
									<div class="search-results__actions-item"><i class="icon icon-edit search-results__actions-item-icon"></i>Редактировать</div>
									<div class="search-results__actions-item"><i class="icon icon-eye search-results__actions-item-icon"></i>Перейти к тендеру</div>
								</div>
								<div class="search-results__text text">
									<h3>Сводка данных по тендеру</h3>
									<div class="text__table"><span>Проект</span><a href="#">Зап.-сиб. комплекс глубокой переработки УВС в полиолефины</a></div>
									<div class="text__table"><span>Дата начала приема заявок</span>01.04.2017</div>
									<div class="text__table"><span>Дата окончания приема заявок</span>20.04.2017</div>
									<div class="text__table"><span>Заказчик</span><a href="#">Сургут-Нефтехим</a></div>
									<div class="text__table"><span>Начальная цена</span>180 000 000 Р</div>
									<div class="text__table"><span>Статус</span><span class="text__table-border text__table-border_blue">Выигран</span></div>
									<div class="text__table"><span>Статус</span><span class="text__table-border text__table-border_grey">Идет</span></div>
								</div>
								<div class="search-results__text text">
									<h3>Предложения на тендер</h3>
									<table class="table table_search-results">
										<tr>
											<th class="table__first">Участник</th>
											<th>Сумма, Р</th>
											<th>Срок работ</th>
											<th class="table__last">Трудозатраты</th>
										</tr>
										<tr>
											<td class="table__first">ООО «Ромашка»</td>
											<td>179 000 000</td>
											<td>14 месяцев</td>
											<td class="table__last">14 900 ч/часов</td>
										</tr>
										<tr>
											<td class="table__first">ООО «Василек»</td>
											<td>178 000 000</td>
											<td>15 месяцев</td>
											<td class="table__last">13 590 ч/часов</td>
										</tr>
										<tr class="table_search-results_active">
											<td class="table__first">НИПИгаз</td>
											<td>176 000 000</td>
											<td>12 месяцев</td>
											<td class="table__last">14 280 ч/часов</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<script src="./js/vendor/jquery/jquery.js"></script>
		<script src="./js/vendor/jqueryui/jquery-ui.js"></script>
		<script src="./js/vendor/autocomplete/jquery.autocompleter.js"></script>
		<script src="./assets/scripts/all.js"></script>
	</body>
</html>
