dist/search_empty.html
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Главная страница</title>
		<link href="assets/styles/all.css" rel="stylesheet" type="text/css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	</head>
	<body>
		<div class="wrapper">
			<div class="header">
				<div class="header__container">
					<figure class="logo"><a href="#"><img src="./assets/images/Logo_nipi.svg" class="logo__item"/></a></figure>
					<div class="nav">
						<div class="nav__item nav__item_active"><a href="#" class="nav__item-link nav__item-link_with-dropdown">Инжиниринг<span class="nav__item-arrow"></span></a>
							<div class="dropdown nav__item-dropdown"><a href="#" class="dropdown__row dropdown__row_orange">Инжиниринг</a><a href="#" class="dropdown__row dropdown__row_blue">Строительство</a><a href="#" class="dropdown__row dropdown__row_light-blue">Поставки</a></div>
						</div>
						<div class="nav__item"><a href="#" class="nav__item-link">Поиск объектов</a></div>
						<div class="nav__item"><a href="#" class="nav__item-link">Конструктор правил</a>
							<div class="dropdown nav__item-dropdown"><a href="#" class="dropdown__row">Конструктор правил</a><a href="#" class="dropdown__row">Технико-коммерческое предложение</a><a href="#" class="dropdown__row">Проекты</a><a href="#" class="dropdown__row">Применить правило</a>
								<div class="dropdown__row">Поиск дубликатор</div>
								<div class="dropdown__row">Просмотр дубликатов</div>
							</div>
						</div>
					</div>
					<div class="header__exit"><span class="header__exit-item">Выход</span><i class="header__exit-item-icon icon icon-exit"></i></div>
					<div class="header__user"><i class="header__user-icon icon icon-person"></i>
						<div class="header__user-name">Константин Иванович Константинопольский IV</div>
					</div>
					<div data-popup="question" class="header__help js-open-popup"><i class="header__help-item-icon icon icon-question"></i></div>
				</div>
			</div>
			<section class="main">
				<div class="main__left-column ui-widget-content js-resizable">
					<div class="main__title main__left-column-title">
						<div class="main__title-dropdown">Поиск рисков проектирования<span class="main__title-dropdown-arrow"></span>
							<div class="dropdown nav__item-dropdown"><a href="#" class="dropdown__row">Проект</a><a href="#" class="dropdown__row">Выученный урок</a><a href="#" class="dropdown__row">Поиск тендера</a>
								<div class="dropdown__row">Поиск в реестре ошибок</div>
							</div>
						</div>
						<button type="submit" class="main__title-button"><i class="icon icon-search main__title-button-search"></i>Найти </button>
					</div>
					<div class="main__body main__left-column-body">
						<div class="widjet widjet_with-scroll widjet_no-background">
							<div class="widjet__element widjet__element_notitle">
								<div class="widjet__element-row">
									<div class="input">
										<div class="input__body">
											<div class="input__wrapper">
												<div class="input__beauty-arrow js-beauty-arrow"><i class="input__beauty-arrow-icon icon icon-t"></i>
													<div class="input__beauty-arrow-text">Название содержит</div>
												</div>
												<input type="text" class="input__elem js-beauty-arrow-input"/>
											</div>
										</div>
									</div>
								</div>
								<div class="widjet__element-row">
									<div class="input">
										<div class="input__body">
											<div class="input__wrapper">
												<div class="input__beauty-arrow js-beauty-arrow"><i class="input__beauty-arrow-icon icon icon-category"></i>
													<div class="input__beauty-arrow-text">Категория</div>
												</div>
												<input type="text" value="Затраты" class="input__elem js-beauty-arrow-input"/>
											</div>
										</div>
									</div>
								</div>
								<div class="widjet__element-row">
									<div class="input">
										<div class="input__body">
											<div class="input__wrapper">
												<div class="input__beauty-arrow js-beauty-arrow"><i class="input__beauty-arrow-icon icon icon-flag"></i>
													<div class="input__beauty-arrow-text">Событие</div>
												</div>
												<input type="text" value="Дифицит персонала" class="input__elem js-beauty-arrow-input"/>
											</div>
										</div>
									</div>
								</div>
								<div class="widjet__element-row">
									<div class="input">
										<div class="input__label">Уровень риска</div>
										<div class="input__body input__body-justify-space-between">
											<div class="input__wrapper input__wrapper_double">c
												<input type="text" value="" class="input__elem input__elem_middle js-input-autocomplete"/>
												<div class="input__arrow js-show-autocomplete-results"></div>
											</div>
											<div class="input__wrapper input__wrapper_double">по
												<input type="text" value="" class="input__elem input__elem_middle js-input-autocomplete"/>
												<div class="input__arrow js-show-autocomplete-results"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="widjet__element js-widjet-accordion">
								<div class="widjet__element-title">Параметры промышленного комплекса
									<div class="widjet__element-arrow js-widjet-accordion-arrow"></div>
								</div>
								<div class="widjet__element-row">
									<div class="widjet__element-checkbox">
										<div class="checkbox">
											<input type="checkbox" id="row1" class="checkbox__input"/>
											<label for="row1" class="checkbox__label">СПГ</label>
										</div>
									</div>
									<div class="widjet__element-checkbox">
										<div class="checkbox">
											<input type="checkbox" id="row2" class="checkbox__input"/>
											<label for="row2" class="checkbox__label">ГПЗ</label>
										</div>
									</div>
									<div class="widjet__element-checkbox">
										<div class="checkbox">
											<input type="checkbox" id="row3" class="checkbox__input"/>
											<label for="row3" class="checkbox__label">НПЗ</label>
										</div>
									</div>
									<div class="widjet__element-checkbox">
										<div class="checkbox">
											<input type="checkbox" id="row4" class="checkbox__input"/>
											<label for="row4" class="checkbox__label">НХК</label>
										</div>
									</div>
									<div class="widjet__element-checkbox">
										<div class="checkbox">
											<input type="checkbox" id="row5" class="checkbox__input"/>
											<label for="row5" class="checkbox__label">ГХК</label>
										</div>
									</div>
								</div>
								<div class="widjet__element-row">
									<div class="input__label">Красивый селект</div>
									<select id="mounth" class="js-select">
										<option value="hide">-- Month --</option>
										<option value="January January January January JanuaryJanuary">January January January January JanuaryJanuary</option>
										<option value="february">February</option>
										<option value="march">March</option>
										<option value="april">April</option>
										<option value="may">May</option>
										<option value="june">June</option>
										<option value="july">July</option>
										<option value="august">August</option>
										<option value="september">September</option>
										<option value="october">October</option>
										<option value="november">November</option>
										<option value="december">December</option>
									</select>
								</div>
								<div class="widjet__element-row">
									<div class="input__label">Да или нет?</div>
									<div class="input__body">
										<div class="widjet__element-checkbox">
											<div class="radio">
												<input type="radio" name="group" checked="checked" id="row6" class="radio__input"/>
												<label for="row6" class="radio__label">Да</label>
											</div>
										</div>
										<div class="widjet__element-checkbox">
											<div class="radio">
												<input type="radio" name="group" id="row7" class="radio__input"/>
												<label for="row7" class="radio__label">Нет</label>
											</div>
										</div>
									</div>
								</div>
								<div class="widjet__element-row">
									<div class="input">
										<div class="input__label">Мощность</div>
										<div class="input__body">
											<div class="input__wrapper">от
												<input type="text" value="" class="input__elem input__elem_small"/>до
												<input type="text" value="" class="input__elem input__elem_small"/><span class="input__black-text">млн. тонн в год</span>
											</div>
										</div>
									</div>
								</div>
								<div class="widjet__element-row">
									<div class="input">
										<div class="input__label">ГИП</div>
										<div class="input__body">
											<div class="input__wrapper">
												<input type="text" value="Западная сибирь" class="input__elem js-input-autocomplete"/>
												<div class="input__arrow js-show-autocomplete-results"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="widjet__element-row">
									<div class="input">
										<div class="input__label">ГИП</div>
										<div class="input__body"> 
											<div class="input__wrapper">
												<input type="text" value="Субантарктическая" class="input__elem js-input-autocomplete"/>
												<div class="input__arrow js-show-autocomplete-results"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="widjet__element widjet__element_closed js-widjet-accordion">
								<div class="widjet__element-title">Параметры проекта
									<div class="widjet__element-arrow widjet__element-arrow_hide js-widjet-accordion-arrow"></div>
								</div>
								<div class="widjet__element-row"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="main__right-column">
					<div class="main__title main__right-column-title">Результаты поиска
						<div class="main__title-help">
							<div data-popup="columns" class="main__title-column js-open-popup">
								<div class="main__title-column-icon icon icon-columns"></div>Выбрать стобцы
							</div>
							<form class="main__title-form">
								<input type="text" placeholder="Название запроса" class="main__title-form-input"/>
								<button type="submit" class="main__title-form-button">Сохранить запрос</button>
							</form>
							<div class="main__title-watch-the-project">
								<div class="main__title-watch-the-project-icon icon icon-excel"></div>Экспорт в Excel
							</div>
						</div>
					</div>
					<div class="main__body main__right-column-body main__body_nopadding">
						<div class="main__right-column-body-container">
							<div class="search-results">
								<div class="search-results__text search-results__text_empty text">
									<h1>Ничего не найдено</h1>
									<p>Попробуйте изменить запрос или задать<br/>более общие параметры поиска.</p><a href="#">Связаться с техподдержкой</a><i class="icon icon-light search-results__empty-icon"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<div class="popup js-popup">
			<div class="popup__item js-popup-item js-popup-item-columns">
				<div class="popup__header">Выбрать столбцы
					<div class="input">
						<div class="input__body">
							<div class="input__wrapper">
								<input type="text" placeholder="Поиск" class="input__elem input_type-search"/>
								<button class="input__search"><i class="icon icon-search input__search-icon"></i></button>
							</div>
						</div>
					</div>
					<div class="popup__close js-popup-close"></div>
				</div>
				<form class="popup__body popup__body_with-scroll popup__body_columns">
					<div class="widjet__element-row js-sortable">
						<div class="widjet__element-checkbox"><i class="icon icon-drag popup__row-draggable"></i>
							<div class="checkbox">
								<input type="checkbox" id="column1" class="checkbox__input"/>
								<label for="column1" class="checkbox__label">По возрастанию</label>
							</div>
						</div>
						<div class="widjet__element-checkbox"><i class="icon icon-drag popup__row-draggable"></i>
							<div class="checkbox">
								<input type="checkbox" id="column2" class="checkbox__input"/>
								<label for="column2" class="checkbox__label">По убыванию</label>
							</div>
						</div>
						<div class="widjet__element-checkbox"><i class="icon icon-drag popup__row-draggable"></i>
							<div class="checkbox">
								<input type="checkbox" id="column3" class="checkbox__input"/>
								<label for="column3" class="checkbox__label">По убыванию</label>
							</div>
						</div>
						<div class="widjet__element-checkbox"><i class="icon icon-drag popup__row-draggable"></i>
							<div class="checkbox">
								<input type="checkbox" id="column4" class="checkbox__input"/>
								<label for="column4" class="checkbox__label">По убыванию</label>
							</div>
						</div>
					</div>
				</form>
				<div class="popup__footer">
					<button type="submit" class="popup__footer-button button">Сохранить</button>
					<div class="popup__footer-button button button_white js-popup-close">Отменить</div>
				</div>
			</div>
			<div class="popup__item js-popup-item js-popup-item-filter">
				<div class="popup__header">Фильтр
					<div class="popup__close js-popup-close"></div>
				</div>
				<form class="popup__body">
					<div class="widjet__element-row">
						<div class="input">
							<div class="input__label">Наименование<span class="input__required">*</span></div>
							<div class="input__body">
								<div class="input__wrapper">
									<input type="text" value="Зап.-сиб комплекс глубокой переработки УВС в полиолефины" class="input__elem"/>
								</div>
								<div class="input__clear-icon icon icon-clear"></div>
							</div>
						</div>
					</div>
					<div class="widjet__element-row">
						<div class="input">
							<div class="input__label">Операция</div>
							<select id="mounth" class="js-select">
								<option value="hide">-- Month --</option>
								<option value="january">January</option>
								<option value="february">February</option>
								<option value="march">March</option>
								<option value="april">April</option>
								<option value="may">May</option>
								<option value="june">June</option>
								<option value="july">July</option>
								<option value="august">August</option>
								<option value="september">September</option>
								<option value="october">October</option>
								<option value="november">November</option>
							</select>
						</div>
					</div>
					<div class="widjet__element-row">
						<div class="input">
							<div class="input__label">Наименование<span class="input__required">*</span></div>
							<div class="input__body">
								<div class="input__wrapper">
									<input type="text" value="Зап.-сиб комплекс глубокой переработки УВС в полиолефины" class="input__elem"/>
								</div>
								<div class="input__clear-icon icon icon-clear"></div>
							</div>
						</div>
					</div>
				</form>
				<div class="popup__footer">
					<button type="submit" class="popup__footer-button button">Сохранить</button>
					<div class="popup__footer-button button button_white js-popup-close">Отменить</div>
				</div>
			</div>
			<div class="popup__item js-popup-item js-popup-item-sort">
				<div class="popup__header">Сортировка столбцов
					<div class="popup__close js-popup-close"></div>
				</div>
				<form class="popup__body">
					<div class="widjet__element-row">
						<div class="input">
							<div class="input__label">Поле</div>
							<select id="mounth" class="js-select">
								<option value="hide">-- Month --</option>
								<option value="January January January January JanuaryJanuary">January January January January JanuaryJanuary</option>
								<option value="february">February</option>
								<option value="march">March</option>
								<option value="april">April</option>
								<option value="may">May</option>
								<option value="june">June</option>
								<option value="july">July</option>
								<option value="august">August</option>
								<option value="september">September</option>
								<option value="october">October</option>
								<option value="november">November</option>
								<option value="december">December</option>
							</select>
						</div>
					</div>
					<div class="widjet__element-row">
						<div class="input">
							<div class="input__label">Порядок</div>
							<div class="widjet__element-checkbox">
								<div class="checkbox checkbox_radio">
									<input type="radio" name="filter" id="radio1" class="checkbox__input"/>
									<label for="radio1" class="checkbox__label">По возрастанию</label>
								</div>
							</div>
							<div class="widjet__element-checkbox">
								<div class="checkbox checkbox_radio">
									<input type="radio" name="filter" id="radio2" class="checkbox__input"/>
									<label for="radio2" class="checkbox__label">По убыванию</label>
								</div>
							</div>
						</div>
					</div>
				</form>
				<div class="popup__footer">
					<button type="submit" class="popup__footer-button button">Сохранить</button>
					<div class="popup__footer-button button button_white js-popup-close">Отменить</div>
				</div>
			</div>
			<div class="popup__item js-popup-item js-popup-item-question">
				<div class="popup__header">Задать вопрос
					<div class="popup__close js-popup-close"></div>
				</div>
				<form class="popup__body">
					<div class="widjet__element-row">
						<div class="input">
							<div class="input__body">
								<div class="input__wrapper">
									<textarea class="input__elem input__elem_textarea"></textarea>
								</div>
							</div>
						</div>
					</div>
				</form>
				<div class="popup__footer">
					<button type="submit" class="popup__footer-button button">Отправить</button>
					<div class="popup__footer-button button button_white js-popup-close">Закрыть</div>
				</div>
			</div>
			<div class="popup__item js-popup-item js-popup-item-negative-comment">
				<div class="popup__header">Прокомментируйте вашу оценку
					<div class="popup__close js-popup-close"></div>
				</div>
				<form class="popup__body">
					<div class="widjet__element-row">
						<div class="input">
							<div class="input__label">Пожалуйста, укажите причину отрицательной оценки</div>
							<div class="input__body">
								<div class="input__wrapper">
									<textarea class="input__elem input__elem_textarea"></textarea>
								</div>
							</div>
						</div>
					</div>
				</form>
				<div class="popup__footer">
					<button type="submit" class="popup__footer-button button">Отправить</button>
					<div class="popup__footer-button button button_white js-popup-close">Закрыть</div>
				</div>
			</div>
			<div class="popup__item js-popup-item js-popup-item-comments-list">
				<div class="popup__header">Просмотр оценок
					<div class="popup__close js-popup-close"></div>
				</div>
				<form class="popup__body">
					<div class="tabs tabs_comments-list js-tabs">
						<div class="tabs__header">
							<div data-tab="tab1" class="tabs__header-item tabs__header-item_active js-tabs-header-item"><span class="tabs__header-item-value">Положительные оценки</span></div>
							<div data-tab="tab2" class="tabs__header-item js-tabs-header-item"><span class="tabs__header-item-value">Отрицательные оценки</span></div>
						</div>
						<div class="tabs__body tabs__body_with-scroll tabs__body_tab1 js-tabs-body">
							<div class="comments-list">
								<div class="comments-list__item">
									<div class="comments-list__name">ФИо
										<div class="comments-list__date">22.11.1111</div>
									</div>
								</div>
								<div class="comments-list__item">
									<div class="comments-list__name">ФИо
										<div class="comments-list__date">22.11.1111</div>
									</div>
								</div>
								<div class="comments-list__item">
									<div class="comments-list__name">ФИо
										<div class="comments-list__date">22.11.1111</div>
									</div>
								</div>
								<div class="comments-list__item">
									<div class="comments-list__name">ФИо
										<div class="comments-list__date">22.11.1111</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tabs__body tabs__body_with-scroll tabs__body_tab2 js-tabs-body">
							<div class="comments-list">
								<div class="comments-list__item">
									<div class="comments-list__name">ФИо
										<div class="comments-list__date">22.11.1111</div>
									</div>
									<div class="comments-list__notice">Здесь будет много много текста потому что нужно его заполнить</div>
								</div>
								<div class="comments-list__item">
									<div class="comments-list__name">ФИо
										<div class="comments-list__date">22.11.1111</div>
									</div>
									<div class="comments-list__notice">Здесь будет много много текста потому что нужно его заполнить</div>
								</div>
								<div class="comments-list__item">
									<div class="comments-list__name">ФИо
										<div class="comments-list__date">22.11.1111</div>
									</div>
									<div class="comments-list__notice">Здесь будет много много текста потому что нужно его заполнить</div>
								</div>
								<div class="comments-list__item">
									<div class="comments-list__name">ФИо
										<div class="comments-list__date">22.11.1111</div>
									</div>
									<div class="comments-list__notice">Здесь будет много много текста потому что нужно его заполнить</div>
								</div>
							</div>
						</div>
					</div>
				</form>
				<div class="popup__footer">
					<div class="popup__footer-button button button_white js-popup-close">Закрыть</div>
				</div>
			</div>
		</div>
		<script src="./js/vendor/jquery/jquery.js"></script>
		<script src="./js/vendor/jqueryui/jquery-ui.js"></script>
		<script src="./js/vendor/autocomplete/jquery.autocompleter.js"></script>
		<script src="./assets/scripts/all.js"></script>
	</body>
</html>

src/templates/pages/search_empty.jade

doctype strict
html
  head
    include ../blocks/head

  body
    .wrapper
      include ../blocks/header

      section.main
        .main__left-column.ui-widget-content.js-resizable
          .main__title.main__left-column-title
            .main__title-dropdown
              | Поиск рисков проектирования
              span.main__title-dropdown-arrow
              .dropdown.nav__item-dropdown
                a.dropdown__row(href="#")
                  | Проект
                a.dropdown__row(href="#")
                  | Выученный урок
                a.dropdown__row(href="#")
                  | Поиск тендера
                .dropdown__row
                  | Поиск в реестре ошибок
            button.main__title-button(type="submit")
              i.icon.icon-search.main__title-button-search
              | Найти 

          .main__body.main__left-column-body
            .widjet.widjet_with-scroll.widjet_no-background
              
              .widjet__element.widjet__element_notitle
                .widjet__element-row
                  .input
                    .input__body
                      .input__wrapper
                        .input__beauty-arrow.js-beauty-arrow
                          i.input__beauty-arrow-icon.icon.icon-t
                          .input__beauty-arrow-text Название содержит
                        input.input__elem.js-beauty-arrow-input(type="text")
                .widjet__element-row
                  .input
                    .input__body
                      .input__wrapper
                        .input__beauty-arrow.js-beauty-arrow
                          i.input__beauty-arrow-icon.icon.icon-category
                          .input__beauty-arrow-text Категория
                        input.input__elem.js-beauty-arrow-input(type="text", value="Затраты")
                .widjet__element-row
                  .input
                    .input__body
                      .input__wrapper
                        .input__beauty-arrow.js-beauty-arrow
                          i.input__beauty-arrow-icon.icon.icon-flag
                          .input__beauty-arrow-text Событие
                        input.input__elem.js-beauty-arrow-input(type="text", value="Дифицит персонала")
                .widjet__element-row
                  .input
                    .input__label Уровень риска
                    .input__body.input__body-justify-space-between
                      .input__wrapper.input__wrapper_double
                        | c
                        input.input__elem.input__elem_middle.js-input-autocomplete(type="text", value="")
                        .input__arrow.js-show-autocomplete-results
                      .input__wrapper.input__wrapper_double
                        | по
                        input.input__elem.input__elem_middle.js-input-autocomplete(type="text", value="")
                        .input__arrow.js-show-autocomplete-results
              include ../blocks/widjet_prom_complex

              .widjet__element.widjet__element_closed.js-widjet-accordion
                  .widjet__element-title
                    | Параметры проекта
                    .widjet__element-arrow.widjet__element-arrow_hide.js-widjet-accordion-arrow
                  .widjet__element-row



        
        .main__right-column
          .main__title.main__right-column-title Результаты поиска
            .main__title-help
              .main__title-column.js-open-popup(data-popup="columns")
                .main__title-column-icon.icon.icon-columns
                | Выбрать стобцы
              form.main__title-form
                input.main__title-form-input(type="text", placeholder="Название запроса")
                button.main__title-form-button(type="submit") Сохранить запрос
              .main__title-watch-the-project
                .main__title-watch-the-project-icon.icon.icon-excel
                | Экспорт в Excel
          .main__body.main__right-column-body.main__body_nopadding
            .main__right-column-body-container
              .search-results
                .search-results__text.search-results__text_empty.text
                  h1 Ничего не найдено
                  p Попробуйте изменить запрос или задать
                    br
                    | более общие параметры поиска.
                  a(href="#") Связаться с техподдержкой
                  i.icon.icon-light.search-results__empty-icon


    include ../blocks/popups
    include ../blocks/scripts
